<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel1">Convenios por pais</h4>
      </div>
      <br/>
      <br/>
      <div class="modal-body">
              <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Busqueda</label>
            <div class="col-sm-10">
              <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" />
            </div>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_9e279011b21a23e1aed5e4868_cca4394bc9" value="" /></div>
          <div class="form-group remove-bottom">
            <div class="col-sm-offset-2 col-sm-10">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer remove-top">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rightbar">Buscar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel2">Tipo de convenio</h4>
      </div>
      <div class="modal-body">
        <br/>
        <br/>
             <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Busqueda</label>
            <div class="col-sm-10">
              <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" />
            </div>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_9e279011b21a23e1aed5e4868_cca4394bc9" value="" /></div>
          <div class="form-group remove-bottom">
            <div class="col-sm-offset-2 col-sm-10">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer remove-top">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rightbar">Buscar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel3">Por programa</h4>

      </div>
      <br/>
      <br/>
      <div class="modal-body">
              <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Busqueda</label>
            <div class="col-sm-10">
              <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" />
            </div>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>

          <div style="position: absolute; left: -5000px;"><input type="text" name="b_9e279011b21a23e1aed5e4868_cca4394bc9" value="" /></div>
          <div class="form-group remove-bottom">
            <div class="col-sm-offset-2 col-sm-10">
            </div>
          </div>
        </form>
       </div>
      <div class="modal-footer remove-top">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rightbar">Buscar</button>
      </div>
    </div>
  </div>
</div>

<!-- ///////////////////////////PANEL RIGHT//////////////////////// -->

<aside id="sidebar-right-contenido" class="control-sidebar control-sidebar-dark">
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-home"></i></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="control-sidebar-home-tab">
      <h3 class="control-sidebar-heading" id="titulo_resultados"></h3>
      <div id="contenedor_resultados">
        <input type="text" size="35" (keydown)="search($event)" placeholder=" Busqueda" class="input" style="text-transform:uppercase;"
          onkeyup="javascript:this.value=this.value.toUpperCase();">
        <div class="divScroll">
          <div *ngFor="let convenio of convenios">

            <h1>{{convenio?.country}}</h1>
            <h4>{{convenio?.description}}</h4>
            <p>
              {{convenio?.pdf}}
            </p>
          </div>
        </div>
        <div *ngIf="convenios?.length < 1">
          <hr>
          <p>
            DRI Univalle
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="control-sidebar-settings-tab">
    </div>
  </div>
</aside>

<
