<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div *ngIf="this.message == 'Tipo Convenio' || this.message == 'Academia'" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel1">Convenios por {{message}}</h4>
      </div>
      <br/>
      <br/>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputBusqueda" class="col-sm-2 control-label">Busqueda</label>
            <div class="col-sm-10">
              <input type="text" value="" name="inputBusqueda" [(ngModel)]="easybusqueda" placeholder="{{message}}" class="form-control" id="inputBusqueda" style="width:300px;text-transform:uppercase;"
              onkeyup="javascript:this.value=this.value.toUpperCase();" />
            </div>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="this.message == 'Ingrese el correo del responsable de esta solicitud' || this.message == 'nombre'" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel1">{{message}}</h4>
      </div>
      <br/>
      <br/>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group"> 
            <div *ngIf="this.message == 'Ingrese el correo del responsable de esta solicitud'" class="col-sm-10">
              <label for="inputcorreo" class="control-label">INGRESE CORREO </label>
              <input type="text" name="inputcorreo" [(ngModel)]="this.correosolicitante" placeholder="{{message}}" class="form-control" id="inputcorreo" />
            </div>
            <div *ngIf="this.message == 'nombre'" class="col-sm-10">
                <label for="inputcorreo" class="control-label">INGRESE NOMBRE</label>
                <input type="text" name="inputnombre" [(ngModel)]="this.borrador" placeholder="INGRESE NOMBRE DE BORRADOR" class="form-control" id="inputcorreo" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div *ngIf="this.message == 'Ingrese el correo del responsable de esta solicitud'">
          <button (click)="enviar()" id="btn-enviar-pedido" class="btn btn-danger btn-block">Solicitar</button>
        </div>
        <div *ngIf="this.message == 'nombre'">
            <button (click)="enviarBorrador()" id="btn-enviar-borrador" class="btn btn-danger btn-block">Guardar Borrador</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ///////////////////////////PANEL RIGHT//////////////////////// -->

