.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li.active>a, .control-sidebar-dark .nav-tabs.control-sidebar-tabs>li.active>a:hover, .control-sidebar-dark .nav-tabs.control-sidebar-tabs>li.active>a:focus, .control-sidebar-dark .nav-tabs.control-sidebar-tabs>li.active>a:active {
  background: #e81c25;
  color: #fff;
}
.control-sidebar-dark .nav-tabs.control-sidebar-tabs {
  border-bottom: #e81c25;
}
.tab-content{
  background: #fff;
}
.control-sidebar-bg, .control-sidebar {
   right: -30%;
  width: 30%;
}
.control-sidebar.control-sidebar-open, .control-sidebar.control-sidebar-open+.control-sidebar-bg {
  right: 0;
}

/* ////////////////////////////////////////////////////////// */

.divScroll {
  overflow-y: scroll;
  height: 500px;
}
divScroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}
.divScroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
.divScroll::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}
.sombra:hover{
  background-color: #ECF1F3;
  cursor: pointer;
}
