<ul class="sidebar-menu">
  <li class="treeview ">
    <a href="#">
      <i class="fa  fa-users"></i> <span>Graficas</span>
      <span class="pull-right-container ">
        <i class="fa fa-angle-left pull-right icono "></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li><a [routerLink]="['dashnivel3']" class='menubusqueda ' #valor id="grafico1"><i class="fa fa-circle-o"></i>Grafica1</a></li>
      <li><a [routerLink]="['dashnivel3']" class='menubusqueda' tabindex="-1" id="grafico2"><i class="fa fa-circle-o"></i>Grafico2</a></li>
    </ul>
  </li>
</ul>