<mat-dialog-content [formGroup]="form">
  <div class="col-md-12 text-center">

    <div class="box-header with-border">
      <i class="fa fa-bank"></i>
      <h3 class="box-title">Cambiar Materias</h3>
    </div>
    <div class="box-body">
      <div class="form-horizontal">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">

                  <div class="col-md-12">
                    <label for="institucion"></label>
                  </div>

                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">

                  <div class="col-md-12">
                    <label for="institucion">Materias actuales</label>
                  </div>

                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">

                  <div class="col-md-12">
                    <label for="institucion">Materias par agregar</label>
                  </div>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">

                <div class="form-group">

                  <div class="col-md-12">
                    <input [formControl]="myControlChecks['curso1']" type="checkbox">
                  </div>

                </div>


              </div>
              <div class="col-md-5">

                <div class="form-group">

                  <div class="col-md-12">
                    <input [formControl]="myControlComent['curso1']" type="text" class="form-control" placeholder="Curso 1">
                  </div>

                </div>


              </div>
              <div class="col-md-5">

                <div class="form-group">

                  <div class="col-md-12">
                    <input [formControl]="myControlComent['curso1']" type="text" class="form-control" placeholder="Curso 1">
                  </div>

                </div>


              </div>
            </div>

            <div class="row">
              <div class="col-md-2">

                <div class="form-group">

                  <div class="col-md-12">
                    <input [formControl]="myControlChecks['curso2']" type="checkbox">
                  </div>

                </div>


              </div>
              <div class="col-md-5">

                <div class="form-group">

                  <div class="col-md-12">
                    <input [formControl]="myControlComent['curso2']" type="text" class="form-control" placeholder="Curso 1">
                  </div>

                </div>


              </div>
              <div class="col-md-5">

                <div class="form-group">

                  <div class="col-md-12">
                    <input [formControl]="myControlComent['curso2']" type="text" class="form-control" placeholder="Curso 1">
                  </div>

                </div>


              </div>
            </div>

            <div class="row">
              <div class="col-md-2">

                <div class="form-group">

                  <div class="col-md-12">
                    <input [formControl]="myControlChecks['curso3']" type="checkbox">
                  </div>

                </div>


              </div>
              <div class="col-md-5">

                <div class="form-group">

                  <div class="col-md-12">
                    <input [formControl]="myControlComent['curso3']" type="text" class="form-control" placeholder="Curso 1">
                  </div>

                </div>


              </div>
              <div class="col-md-5">

                <div class="form-group">

                  <div class="col-md-12">
                    <input [formControl]="myControlComent['curso3']" type="text" class="form-control" placeholder="Curso 1">
                  </div>

                </div>


              </div>
            </div>

            <div class="row">
              <div class="col-md-2">

                <div class="form-group">

                  <div class="col-md-12">
                    <input [formControl]="myControlChecks['curso4']" type="checkbox">
                  </div>

                </div>


              </div>
              <div class="col-md-5">

                <div class="form-group">

                  <div class="col-md-12">
                    <input [formControl]="myControlComent['curso4']" type="text" class="form-control" placeholder="Curso 1">
                  </div>

                </div>


              </div>
              <div class="col-md-5">

                <div class="form-group">

                  <div class="col-md-12">
                    <input [formControl]="myControlComent['curso4']" type="text" class="form-control" placeholder="Curso 1">
                  </div>

                </div>


              </div>
            </div>
            <div class="row">
              <div class="col-md-2">

                <div class="form-group">

                  <div class="col-md-12">
                    <input [formControl]="myControlChecks['curso5']" type="checkbox">
                  </div>

                </div>


              </div>
              <div class="col-md-5">

                <div class="form-group">

                  <div class="col-md-12">
                    <input [formControl]="myControlComent['curso5']" type="text" class="form-control" placeholder="Curso 1">
                  </div>

                </div>


              </div>
              <div class="col-md-5">

                <div class="form-group">

                  <div class="col-md-12">
                    <input [formControl]="myControlComent['curso5']" type="text" class="form-control" placeholder="Curso 1">
                  </div>

                </div>


              </div>
            </div>
            <div class="row">
              <div class="col-md-2">

                <div class="form-group">

                  <div class="col-md-12">
                    <input [formControl]="myControlChecks['curso6']" type="checkbox">
                  </div>

                </div>


              </div>
              <div class="col-md-5">

                <div class="form-group">

                  <div class="col-md-12">
                    <input [formControl]="myControlComent['curso6']" type="text" class="form-control" placeholder="Curso 1">
                  </div>

                </div>


              </div>
              <div class="col-md-5">

                <div class="form-group">

                  <div class="col-md-12">
                    <input [formControl]="myControlComent['curso6']" type="text" class="form-control" placeholder="Curso 1">
                  </div>

                </div>


              </div>
            </div>


          </div>


        </div>


      </div>

    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-block btn-success" (click)="enviar()">Enviar solicitud
            <i class="fa fa-arrow-circle-up"></i>
          </button>
          <button type="button" class="btn btn-block btn-danger" (click)="close()">Cancelar
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>

    </div>
  </div>




</mat-dialog-content>