<mat-dialog-content [formGroup]="form">
  <div class="col-md-12 text-center">

    <div class="box-header with-border">
      <i class="fa fa-bank"></i>
      <h3 class="box-title">Cambiar Materias</h3>
    </div>
    <div class="box-body">
      <div class="form-horizontal">
        <div class="col-md-12">

          <div class="row">

            <div class="form-group">
              <div class="col-md-12">
                <label for="institucion">Seleccione la materia que desea cambiar</label>
                <select [formControl]="select" id="" class="form-control" (change)="CambiarInputs()">
                  <option *ngFor="let item of this.array; let i = index;" [value]="i">{{item.codigo}} - {{item.nombre}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="col-md-12">
                  </div>
                  <div class="col-md-3">
                    <label for="institucion">Nombre</label>
                    <input [formControl]="this.inputs.nombre" type="text">
                  </div>
                  <div class="col-md-3">
                    <label for="institucion">Codigo</label>
                    <input [formControl]="this.inputs.codigo" type="text">
                  </div>
                  <div class="col-md-3">
                    <label for="institucion">Grupo</label>
                    <input [formControl]="this.inputs.grupo" type="text">
                  </div>
                  <div class="col-md-3">
                    <label for="institucion">Equivalente</label>
                    <input [formControl]="this.inputs.equivalente" type="text">
                  </div>
                </div>
              </div>

            </div>
          </div>


          <div class="row" style="margin-top: 20px;">
            <div class="form-group">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="col-md-12">
                    <label for="institucion">INGRESE LOS DATOS DE LA MATERIA QUE VA A AGREGAR</label>
                  </div>
                  <div class="col-md-3">
                    <label for="institucion">Nombre</label>
                    <input [formControl]="this.inputsNueva.nombre" type="text">
                  </div>
                  <div class="col-md-3">
                    <label for="institucion">Codigo</label>
                    <input [formControl]="this.inputsNueva.codigo" type="text">
                  </div>
                  <div class="col-md-3">
                    <label for="institucion">Grupo</label>
                    <input [formControl]="this.inputsNueva.grupo" type="text">
                  </div>
                  <div class="col-md-3">
                    <label for="institucion">Equivalente</label>
                    <input [formControl]="this.inputsNueva.equivalente" type="text">
                  </div>
                  <div class="col-md-12" style="margin-top: 20px;">
                      <button style="float: right;" type="button" class="btn btn-success" (click)="agregar()">Agregar
                          <i class="fa fa-plus"></i>
                        </button>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div *ngIf="this.arrayCambios.length != 0" class="row" style="margin-top: 20px;">
              <div class="form-group">
                <div class="col-md-12">
                    <label for="institucion">Lista de cambios</label>

                    <mat-list role="list">
                        <mat-list-item *ngFor="let item of this.arrayCambios" role="listitem">{{item.cancelar.nombre}} por {{item.nueva.nombre}}</mat-list-item>

                      </mat-list>

                </div>
  
              </div>
            </div>


        </div>





      </div>

    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-block btn-success" (click)="enviar()">Enviar solicitud
            <i class="fa fa-arrow-circle-up"></i>
          </button>
          <button type="button" class="btn btn-block btn-danger" (click)="close()">Cancelar
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>

    </div>
  </div>




</mat-dialog-content>