<div class="box box-solid ">
  <div id="content-box" #panelSuperior class="box box-danger collapsed-box">
    <div class="box-header with-border">
      <div class="overlay" *ngIf="loading">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <h3 class="box-title">Pares externos</h3>

      <div class="box-tools pull-right">
        <button #panelSuperiorButton type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">

      <div class="example-header">
        <!-- <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field> -->
      </div>

      <div class="example-container mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="correo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Correo director </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.correo}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="institucion">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Institucion </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.institucion}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="convenio">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID convenio </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.convenio}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectCuenta(row)" [ngClass]="{'selected': (rowSelected == row)}">
          </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>



    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-block btn-success" (click)="nuevaCuenta()">Nueva cuenta <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div #panelinferior class="box box-danger collapsed-box">
    <div class="box-header with-border">
      <i class="fa fa-bank"></i>
      <h3 class="box-title">Nueva Cuenta</h3>

      <div class="box-tools pull-right">
        <button #panelinferiorButton type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-plus" #panelinferiorButtonIcon></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <div *ngIf="(estadoComponenteInferior==1 || estadoComponenteInferior==2)">

        <div class="form-group">
          <label for="programa" class="col-md-5 control-label">Nombre completo</label>

          <div class="col-md-7">

            <input [(ngModel)]='cuenta["nombre"]' type="text" class="form-control" id="programa" placeholder="Nombre completo">
          </div>
        </div>
        <div class="form-group">
          <label for="correo" class="col-md-5 control-label">Correo electronico</label>

          <div class="col-md-7">
            <input [(ngModel)]='cuenta["correo"]' type="text" class="form-control" id="correo" placeholder="Correo electronico"
              [attr.disabled]="estadoComponenteInferior==1 ? '' : null">
          </div>
        </div>

        <div class="form-group">
          <label for="institucion" class="col-md-5 control-label">Institución</label>
          <div class="col-md-7">
            <select [(ngModel)]='cuenta["institucion"]' (click)="getConveniosInstitucion(cuenta['institucion'])" class="form-control col-md-7"
              id="institucion">
              <option *ngFor="let insti of instituciones ; index as i;" [ngValue]="insti"> {{insti}}</option>
              <option value="otra">Otra</option>
            </select>
          </div>

        </div>
  
        <div class="form-group">
          <label for="convenio" class="col-md-5 control-label">Convenio</label>
          <div class="overlay" *ngIf="spinnerConvenios">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
          <div class="col-md-7">
            <div class="checkbox" *ngFor="let conv of convenios ; index as i;">
              <label><input type="checkbox" [(ngModel)] = "conveniosSeleccionados[conv.id]"  >{{conv.id}}</label>
            </div>

          </div>

        </div>

        <div class="form-group" *ngIf="cuenta['institucion'] == 'otra'">
          <label for="correo" class="col-md-5 control-label">Nombre de la institución</label>

          <div class="col-md-7">
            <input [(ngModel)]='cuenta["otraInstitucion"]' type="text" class="form-control" id="correo" placeholder="Nombre de la institución">
          </div>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-block btn-success" (click)="crearnuevaCuenta()" *ngIf="estadoComponenteInferior == 2">Crear
            <i class="fa fa-arrow-circle-up"></i>
          </button>
          <button type="button" class="btn btn-block btn-success" (click)="editar()" *ngIf="estadoComponenteInferior == 1">Actualizar
            <i class="fa fa-arrow-circle-up"></i>
          </button>
        </div>
      </div>

    </div>
  </div>

</div>