<ul class="sidebar-menu">
  <li class="treeview">
    <a href="#">
      <i class="fa fa-globe"></i>
      <span>Administrar postulaciones</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a [routerLink]="['admin/AdminPostulacionesEntrantes']" (activate)="consultaDatosTabla()" style="cursor: pointer;" tabindex="-1" >
          <i class="fa fa-circle-o"></i>Administrar postulaciones <br>entrantes</a>
      </li>
      <li>
        <a [routerLink]="['admin/AdminPostulacionesSalientes']" (activate)="consultaDatosTabla()" style="cursor: pointer;" tabindex="-1" >
          <i class="fa fa-circle-o"></i>Administrar postulaciones <br>salientes</a>
      </li>
    </ul>
  </li>
</ul>