<div class="box box-solid ">
  <div id="content-box" #panelSuperior class="box box-danger collapsed-box">
    <div class="box-header with-border">
        <div class="overlay" *ngIf="dataTablaSolicitudes.length==0">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
      <h3 class="box-title">Consultas</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" >
          <i class="fa fa-plus" #panelSuperiorButton></i>
        </button>
      </div>
    </div>
    <div class="box-body">
        
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <div class="example-container mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="correo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Correo solicitante </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.correo}} </mat-cell>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de solicitud </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.fecha}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="facultad">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Facultad </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.facultad}} </mat-cell>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectSolicitud(row)">
          </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>



    </div>
  </div>

  <div #panelinferior class="box box-danger collapsed-box">
    <div class="box-header with-border">
      <i class="fa fa-bank"></i>
      <h3 class="box-title">Solicitud</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-plus" #panelinferiorButton></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <h5 class="description-header">{{solicitud.solicitante.nombre || ''}}</h5>
            
          </div>
        </div>
        <div class="col-sm-4 border-right">
          <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
              <li><a href="mailto:{{solicitud.correo_diligenciado || ''}}" target="_blank">{{solicitud.correo_diligenciado || ''}} <span class="pull-right badge bg-green">web</span></a></li>
            </ul>
          </div>


        </div>
        <div class="col-sm-4">
          <div class="description-block">
            <h5 class="description-header">{{solicitud.fecha.dia || ''}}/{{solicitud.fecha.mes || ''}}/{{solicitud.fecha.ano || ''}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <div class="row" *ngIf="solicitud.solicitante.nombre!=''">
        <div class="col-md-6">
            <button type="button" class="btn btn-block btn-danger">Negar</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-block btn-success" (click)="aprobar()">Success</button>
        </div>
      </div>
    </div>
  </div>

</div>
