<div class="content-wrapper" style="min-height: 884px;">
  <!-- Content Header (Page header) -->
  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <!-- /.Left col -->
      <!-- right col (We are only adding the ID to make the widgets sortable)-->
      <section class="col-lg-12 connectedSortable ui-sortable">
        <!-- Map box -->
        <div class="box box-solid ">
          <!--<app-map-central></app-map-central>-->
         <app-dashboard-map></app-dashboard-map>

        </div>
        <!-- right col -->
      </section>
    </div>
    <!-- /.row (main row) -->
  </section>
  <!-- /.content -->
</div>
