<div class="box box-solid ">
  <div id="content-box" #panelSuperior class="box box-danger collapsed-box">
    <div class="box-header with-border">
      <div class="overlay" *ngIf="spinertablapostulaciones">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <h3 class="box-title">Solicitudes salientes</h3>

      <div class="box-tools pull-right">
        <button #panelSuperiorButton type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">

      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <div class="example-container mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="correo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Correo solicitante </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.correo}} </mat-cell>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="ano">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Año </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.ano}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="destino">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Programa destino </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.destino}} </mat-cell>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
          </ng-container>
          <!-- Color Column -->
          <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.estado}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectSolicitud(row)" [ngClass]="{'selected': (rowSelected == row)}">
          </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>



    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-block btn-success" (click)="nuevaSolicitud()">Nueva solicitud <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div #panelinferior class="box box-danger collapsed-box">
    <div class="box-header with-border">
      <i class="fa fa-bank"></i>
      <h3 class="box-title">Solicitud</h3>

      <div class="box-tools pull-right">
        <button #panelinferiorButton type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-plus" #panelinferiorButtonIcon></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <div *ngIf="(estadoComponenteInferior==1 || estadoComponenteInferior==2)">
        <div class="form-horizontal">

          <div class="form-group">
            <label for="periodo" class="col-md-5 control-label">Term / Periodo </label>
            <div class="col-md-7">
              <select [(ngModel)]='solicitud["PERIODO ACADÉMICO"]' [attr.disabled]="estadoComponenteInferior==2 ? '' : null"
                id="periodo" class="form-control col-md-7">
                <option> Fall Semester (August – December) / Otoño (Agosto – Diciembre)</option>

                <option> Spring Semester (February – June) / Primavera (Febrero – Junio)</option>

                <option> Middle term 1 (January – March) / Periodo intermedio (Enero - Marzo)</option>

                <option> Middle term 2 (April – June) / Periodo intermedio (Abril - Junio)</option>

                <option> Middle term 3 (July – September) / Periodo intermedio (Julio - Septiembre)</option>

                <option> Middle term 4 (October – December) / Periodo intermedio (Octubre - Diciembre)</option>

              </select>
            </div>

          </div>

          <div class="form-group">
            <label for="modalidad" class="col-md-5 control-label">Type of mobility / Modalidad de intercambio</label>
            <div class="col-md-7">
              <select [(ngModel)]='solicitud["MODALIDAD"]' [attr.disabled]="estadoComponenteInferior==2 ? '' : null" id="modalidad"
                class="form-control col-md-7">
                <option> Academic exchange / Intercambio académico</option>

                <option> Internship / Pasantía internacional</option>

                <option> Research Stay / Estancia de Investigación</option>

                <option> Short course / Curso corto</option>

                <option> Clinical Rotation / Rotación clínica</option>

              </select>
            </div>

          </div>

          <h4>
            <b>
              STUDENT INFORMATION (as in passport) / INFORMACIÓN DEL ESTUDIANTE (como aparece en el pasaporte)

            </b>
          </h4>
          <div class="form-group">
            <label for="NOMBRE" class="col-md-5 control-label">Name (s)/Nombre (s)</label>

            <div class="col-md-7">
              <input [(ngModel)]='solicitud["NOMBRE"]' type="text" class="form-control" id="NOMBRE" placeholder="nombre"
                [attr.disabled]="estadoComponenteInferior==2 ? '' : null">
            </div>
          </div>

          <div class="form-group">
            <label for="NOMBRE" class="col-md-5 control-label">Surname (s)/Apellido (s)</label>

            <div class="col-md-7">
              <input [(ngModel)]='solicitud["APELLIDOS"]' type="text" class="form-control" id="NOMBRE" placeholder="nombre"
                [attr.disabled]="estadoComponenteInferior==2 ? '' : null">
            </div>
          </div>

          <div class="form-group">
            <label for="genero" class="col-md-5 control-label">Gender/Género</label>
            <div class="col-md-7">
              <select [(ngModel)]='solicitud["ID_SEXO_BIOLOGICO"]' [attr.disabled]="estadoComponenteInferior==2 ? '' : null"
                id="genero" class="form-control col-md-7">
                <option>Male / Masculino</option>

                <option> Female / Femenino</option>

                <option> Other / Otro</option>

              </select>
            </div>

          </div>


          <div class="form-group">
            <label for="EMAIL" class="col-md-5 control-label">Student´s email address/Correo del estudiante</label>

            <div class="col-md-7">
              <input [(ngModel)]='solicitud["Correo electrónico"]' type="email" class="form-control" id="EMAIL"
                placeholder="Email" [attr.disabled]="estadoComponenteInferior==2 ? '' : null">
            </div>
          </div>
          
          <div class="form-group">
            <label for="nivelacademico" class="col-md-5 control-label">Academic Level/Nivel de formación</label>
            <div class="col-md-7">
              <select [(ngModel)]='solicitud["NIVEL DE FORMACIÓN DEL ESTUDIANTE DE ORIGEN"]' [attr.disabled]="estadoComponenteInferior==2 ? '' : null"
                id="nivelacademico" class="form-control col-md-7">
                <option>Technical/Technological / Pregrado tecnológico</option>

                <option> Grade / Pregrado profesional</option>

                <option> Master / Posgrado Maestría</option>

                <option> PhD / Posgrado Doctrado</option>

                <option> Medical Specialty / Posgrado Especialización Clínico Quirúrgica</option>


              </select>
            </div>

          </div>

          <div class="form-group">
              <label for="codConvenio" class="col-md-5 control-label">Convenio</label>
              <div class="col-md-7">
                <select [(ngModel)]='solicitud["CODIGO_CONVENIO"]' 
                [attr.disabled]="estadoComponenteInferior==2 ? '' : null"
                  id="codConvenio" class="form-control col-md-7">
                  <option *ngFor="let conv of conveniosPar ; index as i;" [ngValue]="conv"> {{conv}}</option>
  
  
  
                </select>
              </div>
  
            </div>














          <!-- <div class="form-group" *ngIf="estadoComponenteInferior==1">
            <label for="exampleInputFile">File input</label>
            <input type="file" #fileInput1>

            <p class="help-block">Example block-level help text here.</p>
          </div>
          <div class="form-group" *ngIf="estadoComponenteInferior==1">
            <label for="exampleInputFile">File input</label>
            <input type="file" #fileInput2>

            <p class="help-block">Example block-level help text here.</p>
          </div>
          <div class="form-group" *ngIf="estadoComponenteInferior==1">
            <label for="exampleInputFile">File input</label>
            <input type="file" #fileInput3>

            <p class="help-block">Example block-level help text here.</p>
          </div> -->


          <!-- <div class="form-group" *ngIf="(estadoComponenteInferior==2 && this.solicitud['urlFile1']!='' && this.solicitud['urlFile1']!=undefined)">
            <label for="exampleInputFile">archivo 1</label>

            <a href="{{this.solicitud['urlFile1']}}" target="_blank">link</a>
          </div>
          <div class="form-group" *ngIf="(estadoComponenteInferior==2 && this.solicitud['urlFile2']!='' && this.solicitud['urlFile2']!=undefined)">
            <label for="exampleInputFile">archivo 2</label>

            <a href="{{this.solicitud['urlFile2']}}" target="_blank"> link</a>
          </div>
          <div class="form-group" *ngIf="(estadoComponenteInferior==2 && this.solicitud['urlFile3']!='' && this.solicitud['urlFile3']!=undefined)">
            <label for="exampleInputFile">archivo 3</label>

            <a href="{{this.solicitud['urlFile3']}}" target="_blank"> link</a>
          </div> -->

        </div>
      </div>


    </div>
    <div class="box-footer">
      <div class="row" *ngIf="estadoComponenteInferior==1">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-block btn-success" (click)="crearSolicitud()">Crear solicitud <i class="fa fa-arrow-circle-up"></i>
          </button>
        </div>
      </div>
      <!-- <div class="row" *ngIf="solicitud.nombre!==''">
        <div class="col-md-6">
            <button type="button" class="btn btn-block btn-danger" (click)="denegar()">Negar</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-block btn-success" (click)="aprobar()">Success</button>
        </div>
      </div> -->
    </div>
  </div>

</div>