  <ul class="sidebar-menu">
    <li class="treeview active">
      <a href="#">
      <i class="fa  fa-flask"></i> <span>Convenios</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
      <ul class="treeview-menu menu-open" style="display: block;">
        <li><a class="menubusqueda " tabindex="-1" href="#" id="menu-convenios-pais"><i class="fa fa-circle-o"></i> Convenios por país</a></li>
        <li><a class="menubusqueda" tabindex="-1" href="#" id="menu-busqueda-por-tipo"><i class="fa fa-circle-o"></i>Tipo de convenio</a></li>
        <li><a class="menubusqueda" tabindex="-1" href="#" id="menu-busqueda-por-academia"><i class="fa fa-circle-o"></i>Por programa</a></li>
      </ul>
    </li>
 </ul>
