<ul class="sidebar-menu">
  <li class="treeview">
    <a href="#">
      <i class="fa fa-flask"></i>
      <span>Convenios</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">

      <!-- <li><a class="menubusqueda" (click)="enviar(text.id)" #text data-toggle="control-sidebar" data-target="#sidebar-right-contenido" tabindex="-1" style="cursor: pointer;" id="menu-convenios-pais"><i class="fa fa-circle-o"></i>Convenios por país</a></li> -->
      <li>
        <a class="menubusqueda" (click)="enviar(text1.id)" #text1 data-toggle="modal" data-target="#modal1" style="cursor: pointer;"
          tabindex="-1" href="#" id="menu-busqueda-por-tipo">
          <i class="fa fa-circle-o"></i>Tipo de convenio</a>
      </li>
      <li>
        <a class="menubusqueda" (click)="enviar(text2.id)" #text2 data-toggle="modal" data-target="#modal1" style="cursor: pointer;"
          tabindex="-1" href="#" id="menu-busqueda-por-academia">
          <i class="fa fa-circle-o"></i>Por programa</a>
      </li>

    </ul>
  </li>
</ul>