
<li class=" treeview menu">
    <a href="#">
      <i class="fa fa-gears"></i> <span>Equipo robusto</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right icono"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li class="active"><a class='menubusqueda' tabindex="-1" href="#" id="menu-busqueda-equipo-robustos"><i class="fa fa-circle-o"></i> Busqueda por<br> equipo robusto</a></li>
      <li><a class='menubusqueda' tabindex="-1" href="#" id="menu-equipos-robustos"><i class="fa fa-circle-o"></i> Laboratorios con<br> equipo robusto</a></li>
    </ul>
  </li>