

  <div class="box box-solid ">
  
    <div id="content-box2" class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title">Formulario Investigacion</h3>
  
        <div class="box-tools pull-right">
          <button id="buton2" type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
  
        <div id="div2" class="box-body">
          <div class="divScroll" >
            <div id="wrapper" class="container">
              
              <figure class="figure">
                <img src="../../../../assets/img/Formato SuscripcionConven_logouv.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
              
              <h1>VICERECTORIA DE INVESTIGACIONES</h1>
              <h3>Direccion De Relaciones Internacionales</h3>
              <p>Recuerde que la solicitud debe hacerse con mínimo una semana antes del comité de selección, el cual se realiza el primer viernes de cada mes y como mínimo un mes antes del evento. Debe anexar los soportes necesarios según el punto 9. De la convocatoria en la modalidad en que se aplica.  
                </p>
              <p><strong>Mas info:</strong> <a href="http://viceinvestigaciones.univalle.edu.co/index.php/convocatorias-internas">http://viceinvestigaciones.univalle.edu.co/index.php/convocatorias-internas</a></p>
            
                <form id="form-work" class="" name="form-work" action="#">
                  
                  <fieldset>
                  
                    <div class="form-group">
                      <div class="col-md-12">
                        <label class="control-label" for="fecha"><strong>Fecha</strong></label>
                        <input name="fecha" [(ngModel)]="this.formulario.fecha" class="form-control" value="" type="date" id="fecha">
                        </div>
                    </div>
            
                      <div class="form-group">
                        <div class="col-md-12">
                          <h2><strong>1. TIPO DE MODALIDAD A LA QUE APLICA</strong></h2>
                          <label class="control-label" for="modalidad"><strong>Modalidad</strong></label>
                          <select name="modalidad" [(ngModel)]="this.formulario.modalidad" class="form-control"  id="modalidad" >
                            <option value="modalidad 1">Modalidad 1</option>
                            <option value="modalidad 2">Modalidad 2</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-12">
                              <h2><strong>2. DATOS PERSONALES DE QUIEN PRESENTA LA POSTULACION</strong></h2>
                          </div>
                      </div>
            
                      <div class="form-group">
                        <div class="col-md-6">
                          <label class="control-label" for="nom"><strong>Nombre profesor responsable en Univalle</strong></label>
                          <input name="nom" [(ngModel)]="this.formulario.datos_solicitud.nombre_prof" class="form-control" placeholder="Ingrese responsable" type="text">
                        </div>
                      </div>
            
                      <div class="form-group">
                        <div class="col-md-6">
                          <label class="control-label" for="doc"><strong>Documento de identidad</strong></label>
                          <input name="doc" [(ngModel)]="this.formulario.datos_solicitud.doc_prof" class="form-control" placeholder="Ingrese documento" type="text">
                        </div>
                      </div>
            
                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="facu"><strong>Facultad/Instituto/Unidad Academica</strong></label>
                            <input name="facu" [(ngModel)]="this.formulario.datos_solicitud.facultad" class="form-control" placeholder="Ingrese Facultad" type="text">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="cel"><strong>Numero Celular</strong></label>
                            <input name="cel" [(ngModel)]="this.formulario.datos_solicitud.celu_prof" class="form-control" placeholder="Ingrese numero celular" type="text">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="tel"><strong>Telefono fijo en Univalle</strong></label>
                            <input name="tel" [(ngModel)]="this.formulario.datos_solicitud.tel_univ" class="form-control" placeholder="Ingrese telefono fijo" type="text">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="correo"><strong>Correo electronico</strong></label>
                            <input name="correo" [(ngModel)]="this.formulario.datos_solicitud.mail_prof" class="form-control" placeholder="@correounivalle.edu.co" type="text">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="sicop"><strong>Centro de Información del Proyecto de investigación en el marco en el que se realiza la movilidad (CI – SICOP) </strong></label>
                            <input name="sicop" [(ngModel)]="this.formulario.datos_solicitud.sicop" class="form-control" placeholder="Ingrese SICOP" type="text">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-12">
                              <h2><strong>3. DATOS DE LA PERSONA QUE REALIZA LA MOVILIDAD</strong></h2>
                              <label class="control-label" for="tipoper"><strong>TIPO DE PERSONA</strong></label>
                              <select name="tipoper" [(ngModel)]="this.formulario.datos_movilidad.tipo_persona" class="form-control"  id="" >
                                <option value="Profesor de Univalle">Profesor de Univalle</option>
                                <option value="Profesor visitante internacional">Profesor visitante internacional</option>
                                <option value="Estudiante Univalle">Estudiante Univalle</option>
                              </select>
                            </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="nomApe"><strong>Nombres y Apellidos</strong></label>
                            <input name="nomApe" [(ngModel)]="this.formulario.datos_movilidad.nom_ape" class="form-control" placeholder="Ingrese nombres y apellidos" type="text">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="ccpas"><strong>CC / Pasaporte N*</strong></label>
                            <input name="ccpas" [(ngModel)]="this.formulario.datos_movilidad.CC_pas" class="form-control" placeholder="Ingrese CC o Numero pasaporte" type="text">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="nac"><strong>Nacionalidad</strong></label>
                            <input name="nac" [(ngModel)]="this.formulario.datos_movilidad.nacionalidad" class="form-control" placeholder="Ingrese Nacionalidad" type="text">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="ciuor"><strong>Ciudad Origen</strong></label>
                            <input name="ciuor" [(ngModel)]="this.formulario.datos_movilidad.ciudad_or" class="form-control" placeholder="Ingrese ciudad origen" type="text">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="ciudes"><strong>Ciudad Destino</strong></label>
                            <input name="ciudes" [(ngModel)]="this.formulario.datos_movilidad.ciudad_des" class="form-control" placeholder="Ingrese ciudad destino" type="text">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="paor"><strong>Pais Origen</strong></label>
                            <input name="paor" [(ngModel)]="this.formulario.datos_movilidad.pais_or" class="form-control" placeholder="Ingrese pais origen" type="text">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="pades"><strong>Pais Destino</strong></label>
                            <input name="pades" [(ngModel)]="this.formulario.datos_movilidad.pais_des" class="form-control" placeholder="Ingrese pais destino" type="text">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="part"><strong>Partida</strong></label>
                            <input name="part" [(ngModel)]="this.formulario.datos_movilidad.fecha_part" class="form-control"  type="date">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="regre"><strong>Regreso</strong></label>
                            <input name="regre" [(ngModel)]="this.formulario.datos_movilidad.fecha_reg" class="form-control"  type="date">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-12">
                              <h2><strong>4. INFORMACION DEL TIPO DE MOVILIDAD A LA QUE APLICA (Marque con una X)</strong></h2>
                              <label class="control-label" for="info4"><strong>TIPO DE PERSONA</strong></label>
                              <select name="info4" [(ngModel)]="this.formulario.tipo_movilidad.tipo_mov" class="form-control"  id="" >
                                <option value="Presentación de resultados de investigación o creación en eventos realizados en Colombia">Presentación de resultados de investigación o creación en eventos realizados en Colombia</option>
                                <option value="Presentación de resultados de investigación en el exterior">Presentación de resultados de investigación en el exterior</option>
                                <option value="Estancias internacionales">Estancias internacionales</option>
                                <option value="Fomento">Fomento</option>
                              </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="observa"><strong>Observaciones</strong></label>
                            <textarea class="form-control" [(ngModel)]="this.formulario.tipo_movilidad.observaciones" name="observa" id="" rows="5"></textarea>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="just"><strong>Jutificacion(100 palabras)</strong></label>
                            <textarea class="form-control" [(ngModel)]="this.formulario.tipo_movilidad.justificacion" name="just" id="" rows="5"></textarea>
                          </div>
                      </div>

                      <div class="col-md-12">
                          <h2><strong>5. PRESUPUESTO</strong></h2>
                      </div>

                      <div class="col-md-12">
                          <table class="table">
                            <tr>
                              <th style="text-align: center;">ITEM SOLICITADO</th>
                              <th style="text-align: center;">VR. SOLICITADO OTRA DEPENDENCIAS</th>
                              <th style="text-align: center;">NOMBRE DE LA DEPENDENCIA</th>
                              <th style="text-align: center;">VALOR SOLICITADO COMITE CIAM*.</th>
                            </tr>
                            <tr>
                              <td> <input name="item1" [(ngModel)]="this.formulario.presupuesto.item1.item1" class="form-control"  type="text"></td>
                              <td><input name="vr1" [(ngModel)]="this.formulario.presupuesto.item1.vr_od1" class="form-control"  type="text" placeholder="$"></td>
                              <td><input name="nom1" [(ngModel)]="this.formulario.presupuesto.item1.nom_1" class="form-control"  type="text"></td>
                              <td><input name="val1" [(ngModel)]="this.formulario.presupuesto.item1.vr_ciam1" class="form-control"  type="text" placeholder="$"></td>
                            </tr>
                            <tr>
                              <td> <input name="item2" [(ngModel)]="this.formulario.presupuesto.item2.item2" class="form-control"  type="text"></td>
                              <td><input name="vr2" [(ngModel)]="this.formulario.presupuesto.item2.vr_od2" class="form-control"  type="text" placeholder="$"></td>
                              <td><input name="nom2" [(ngModel)]="this.formulario.presupuesto.item2.nom_2" class="form-control"  type="text"></td>
                              <td><input name="val2" [(ngModel)]="this.formulario.presupuesto.item2.vr_ciam2" class="form-control"  type="text" placeholder="$"></td>
                            </tr>
                            <tr>
                              <td> <input name="item3" [(ngModel)]="this.formulario.presupuesto.item3.item3" class="form-control"  type="text"></td>
                              <td><input name="vr3" [(ngModel)]="this.formulario.presupuesto.item3.vr_od3" class="form-control"  type="text" placeholder="$"></td>
                              <td><input name="nom3" [(ngModel)]="this.formulario.presupuesto.item3.nom_3" class="form-control"  type="text"></td>
                              <td><input name="val3" [(ngModel)]="this.formulario.presupuesto.item3.vr_ciam3" class="form-control"  type="text" placeholder="$"></td>
                            </tr>
                            <tr>
                              <td> <input name="item4" [(ngModel)]="this.formulario.presupuesto.item4.item4" class="form-control"  type="text"></td>
                              <td><input name="vr4"  [(ngModel)]="this.formulario.presupuesto.item4.vr_od4" class="form-control"  type="text" placeholder="$"></td>
                              <td><input name="nom4" [(ngModel)]="this.formulario.presupuesto.item4.nom_4" class="form-control"  type="text"></td>
                              <td><input name="val4" [(ngModel)]="this.formulario.presupuesto.item4.vr_ciam4" class="form-control"  type="text" placeholder="$"></td>
                            </tr>
                            <tr>
                              <th colspan="3" tyle="text-align: right;">VALOR TOTAL DEL APOYO SOLICITADO</th>
                          
                              <td><input name="valTotal" [(ngModel)]="this.formulario.presupuesto.valor_total" class="form-control"  type="text" placeholder="$"></td>
                            </tr>
                          </table>
                          <p>*Sólo gastos de transporte y/o viáticos (NO APLICA para inscripciones, gastos de traslados aeropuertos, visas, seguros médicos, etc.) 
                            Para Profesores invitados internacionales, los recursos asignados se otorgan directamente al profesor visitante a su llegada.</p>
                      </div>

                      <div class="col-md-12">
                          <h2><strong>6. DOCUMENTOS ENTREGADOS (Marque con una X)</strong></h2>
                          <label class="control-label"><strong>MODALIDAD 1</strong></label>
                      </div>
                      <div class="col-md-12">
                        <table class="table table-bordered">
                          <tr>
                              <th colspan="3" style="text-align: center;">Profesores Nombrados de la Universidad del valle</th>
                              <th colspan="3" style="text-align: center;">Profesores y artistas internacionales</th>
                          </tr>
                          <tr>
                            <td colspan="2" style="text-align: left;"><p>Plan de Trabajo / actividades a desarrollar (Formato libre. Según agenda de viaje).</p></td>
                            <td colspan="1"><input name="plan_tractv" [(ngModel)]="this.formulario.doc_entregados.modalidad1.prof_nom_univ.plan_tractv" type="checkbox"></td>

                            <td colspan="2" style="text-align: left;"><p>Plan de Trabajo / actividades a desarrollar (Formato libre. Según agenda de viaje).</p></td>
                            <td colspan="1"><input name="plan_tractv2" [(ngModel)]="this.formulario.doc_entregados.modalidad1.prof_art_int.plan_tractv2" type="checkbox"></td>
                          </tr>
                          <tr>
                            <td colspan="2" style="text-align: left;"><p>Carta de invitación de un profesor en la entidad receptora o de aceptación de la ponencia por parte del comité organizador del evento.</p></td>
                            <td colspan="1"><input name="carta_inv" [(ngModel)]="this.formulario.doc_entregados.modalidad1.prof_nom_univ.carta_inv" type="checkbox"></td>

                            <td colspan="2" style="text-align: left;"><p>Carta del profesor invitado internacional aceptando la invitación y señalando que cumplirá con la agenda programada de acuerdo con los términos de la invitación.</p></td>
                            <td colspan="1"><input name="cart_proinv" [(ngModel)]="this.formulario.doc_entregados.modalidad1.prof_art_int.cart_proinv" type="checkbox"></td>
                          </tr>
                          <tr>
                            <td colspan="2" style="text-align: left;"><p>Carta de aprobación / VoBo del jefe inmediato autorizando realizar la movilidad.</p></td>
                            <td colspan="1"><input name="carta_apro" [(ngModel)]="this.formulario.doc_entregados.modalidad1.prof_nom_univ.carta_apro" type="checkbox"></td>

                            <td colspan="2" style="text-align: left;"><p>Copia de la página de identificación del pasaporte del profesor extranjero. </p></td>
                            <td colspan="1"><input name="copia_pag" [(ngModel)]="this.formulario.doc_entregados.modalidad1.prof_art_int.copia_pag" type="checkbox"></td>
                          </tr>
                          <tr>
                            <td colspan="2" style="text-align: left;"><p>Evidencia de posición de la universidad receptora según el ranking de Shanghái (Si aplica).</p></td>
                            <td colspan="1"><input name="evidencia" [(ngModel)]="this.formulario.doc_entregados.modalidad1.prof_nom_univ.evidencia" type="checkbox"></td>

                            <td colspan="2" style="text-align: left;"><p>Carta de compromiso de la Coordinación administrativa de la Facultad / Instituto asegurando el diligenciamiento ante el SIRE y la consecución de pólizas.</p></td>
                            <td colspan="1"><input name="carta_comp" [(ngModel)]="this.formulario.doc_entregados.modalidad1.prof_art_int.carta_comp" type="checkbox"></td>
                          </tr>
                          <tr>
                              <td colspan="2" rowspan="2" style="text-align: left;"><p>Presupuesto (ITEM 5 del presente formato).</p></td>
                              <td colspan="1" rowspan="2"><input name="presupuesto" [(ngModel)]="this.formulario.doc_entregados.modalidad1.prof_nom_univ.presupuesto" type="checkbox"></td>
                            
                            <td colspan="2" style="text-align: left;"><p>Evidencia de la posición que ocupa la universidad de procedencia en el ranking de Shanghái. NOTA: Cuando el investigador extranjero no esté adscrito a una institución que se encuentre en el ranking de Shanghái, deberá contar con un índice H en Web of Science igual o superior a 10.</p></td>
                            <td colspan="1"><input name="evidencia" [(ngModel)]="this.formulario.doc_entregados.modalidad1.prof_art_int.evidencia" type="checkbox"></td>
                          </tr>
                          <tr>
                            

                            <td colspan="2" style="text-align: left;"><p>Carta de aval del comité de investigaciones de la facultad / instituto académico (Según modelo ADJUNTO).</p></td>
                            <td colspan="1"><input name="carta_aval" [(ngModel)]="this.formulario.doc_entregados.modalidad1.prof_art_int.carta_aval" type="checkbox"></td>
                          </tr>
                        
                          
                        </table>
                      
                      </div>

                      <div class="col-md-12">
                          <label class="control-label"><strong>MODALIDAD 2</strong></label>
                      </div>
                      <div class="col-md-12">
                        <table class="table table-bordered">
                          <tr>
                              <th colspan="3" style="text-align: center;">Profesores Nombrados de la Universidad del valle</th>
                              <th colspan="3" style="text-align: center;">Profesores y artistas internacionales</th>
                          </tr>
                          <tr>
                            <td colspan="2" style="text-align: left;"><p>Tabulado de matrícula del semestre en el cual postula.</p></td>
                            <td colspan="1"><input name="tabulado" [(ngModel)]="this.formulario.doc_entregados.modalidad2.prof_nom_univ.tabulado" type="checkbox"></td>

                            <td colspan="2" rowspan="6" style="text-align: left;">
                              <p>Carta del tutor de tesis doctoral, aprobando la actividad en el exterior 
                                y comprometiéndose a: a) Brindar la asesoría al estudiante durante la ejecución 
                                de la movilidad internacional financiada por la Universidad. 
                                b) Revisar el informe de la pasantía y el artículo o producto elaborado por el 
                                estudiante en los siguientes 30 días hábiles después del regreso del estudiante.
                                </p></td>
                            <td colspan="1" rowspan="6"><input name="carta_tutor" [(ngModel)]="this.formulario.doc_entregados.modalidad2.prof_art_int.carta_tutor" type="checkbox"></td>
      
                          </tr>
                          <tr>
                            <td colspan="2" style="text-align: left;"><p>Certificado de promedio descargado del SRA.</p></td>
                            <td colspan="1"><input name="certificado" [(ngModel)]="this.formulario.doc_entregados.modalidad2.prof_nom_univ.certificado" type="checkbox"></td>               
                          </tr>
                          <tr>
                          <td colspan="2" style="text-align: left;"><p>Carta del comité de programa académico respaldando la postulación.</p></td>
                          <td colspan="1"><input name="carta_comite" [(ngModel)]="this.formulario.doc_entregados.modalidad2.prof_nom_univ.carta_comite"type="checkbox"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left;"><p>Carta de invitación de un profesor / institución / entidad receptora.</p></td>
                            <td colspan="1"><input name="carta_invitacion" [(ngModel)]="this.formulario.doc_entregados.modalidad2.prof_nom_univ.carta_invitacion" type="checkbox"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left;"><p>Carta de aval del comité de investigaciones de la facultad/instituto académico</p></td>
                            <td colspan="1"><input name="carta_aval_comite" [(ngModel)]="this.formulario.doc_entregados.modalidad2.prof_nom_univ.carta_aval_comite" type="checkbox"></td>
                        </tr>
                        <tr>
                              <td colspan="2" style="text-align: left;"><p>Documento del plan de trabajo / actividades a realizar en el exterior (Formato libre que indique cronograma y actividades).</p></td>
                              <td colspan="1"><input name="doc_plan" [(ngModel)]="this.formulario.doc_entregados.modalidad2.prof_nom_univ.doc_plan" type="checkbox"></td>
                        </tr>
                    
                          
                        </table>
                      
                      </div>

                      <div class="col-md-12">
                          <h4><strong>Firma del profesor responsable / Tutor del estudiante en caso de modalidad (2):</strong></h4>
                      </div>
                      <div class="col-md-12">

                      </div>
                      <div class="col-md-12">

                      </div>
                      <div class="col-md-12">

                      </div>
                      <div class="col-md-12">
                          <label class="control-label" for="nomfir"><strong>Nombre</strong></label>
                          <input name="nomfir" [(ngModel)]="this.formulario.firma.nombre_firma" class="form-control" placeholder="Ingrese Nombre" type="text">
                          <label class="control-label" for="docfir"><strong>CC N*</strong></label>
                          <input name="docfir" [(ngModel)]="this.formulario.firma.doc_firma" class="form-control" placeholder="Ingrese documento" type="text">
                      </div>

                     
                      <div class="form-group">
                        <div class="col-md-12">
                          <button type="button" (click)="crearInvestigacion()" class="btn2 btn-danger btn-lg btn-block danger">Enviar</button>
                        </div>
                      </div>     
                  </fieldset> 
                </form>
            </div>
            
          </div>
      </div>
    </div>
  </div>
