

  <div class="box box-solid ">
  
    <div id="content-box2" class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title">Formulario Investigacion</h3>
  
        <div class="box-tools pull-right">
          <button id="buton2" type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
  
        <div id="div2" class="box-body">
          <div class="divScroll" >
            <div id="wrapper" class="container">
              
              <figure class="figure">
                <img src="../../../../assets/img/Formato SuscripcionConven_logouv.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
              
              <h1>VICERECTORIA DE INVESTIGACIONES</h1>
              <h3>Direccion De Relaciones Internacionales</h3>
              <p>Recuerde que la solicitud debe hacerse con mínimo una semana antes del comité de selección, el cual se realiza el primer viernes de cada mes y como mínimo un mes antes del evento. Debe anexar los soportes necesarios según el punto 9. De la convocatoria en la modalidad en que se aplica.  
                </p>
              <p><strong>Mas info:</strong> <a href="http://viceinvestigaciones.univalle.edu.co/index.php/convocatorias-internas">http://viceinvestigaciones.univalle.edu.co/index.php/convocatorias-internas</a></p>
            
                <form id="form-work" class="" name="form-work" action="#">
                  
                  <fieldset>
                  
                    <div class="form-group">
                      <div class="col-md-12">
                        <label class="control-label" for="nome"><strong>Fecha</strong></label>
                        <input name="nome" class="form-control" placeholder="Fecha" type="date">
                        </div>
                    </div>
            
                      <div class="form-group">
                        <div class="col-md-12">
                          <h2><strong>1. TIPO DE MODALIDAD A LA QUE APLICA</strong></h2>
                          <label class="control-label" for="modalidad"><strong>Modalidad</strong></label>
                          <select name="modalidad" class="form-control"  id="" >
                            <option value="">Modalidad 1</option>
                            <option value="">Modalidad 2</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-12">
                              <h2><strong>2. DATOS PERSONALES DE QUIEN PRESENTA LA POSTULACION</strong></h2>
                          </div>
                      </div>
            
                      <div class="form-group">
                        <div class="col-md-6">
                          <label class="control-label" for="nom"><strong>Nombre profesor responsable en Univalle</strong></label>
                          <input name="nom" class="form-control" placeholder="Ingrese responsable" type="text">
                        </div>
                      </div>
            
                      <div class="form-group">
                        <div class="col-md-6">
                          <label class="control-label" for="doc"><strong>Documento de identidad</strong></label>
                          <input name="doc" class="form-control" placeholder="Ingrese documento" type="text">
                        </div>
                      </div>
            
                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="facu"><strong>Facultad/Instituto/Unidad Academica</strong></label>
                            <input name="facu" class="form-control" placeholder="Ingrese Facultad" type="text">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="cel"><strong>Numero Celular</strong></label>
                            <input name="cel" class="form-control" placeholder="Ingrese numero celular" type="text">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="tel"><strong>Telefono fijo en Univalle</strong></label>
                            <input name="tel" class="form-control" placeholder="Ingrese telefono fijo" type="text">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="correo"><strong>Correo electronico</strong></label>
                            <input name="correo" class="form-control" placeholder="@correounivalle.edu.co" type="text">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="sicop"><strong>Centro de Información del Proyecto de investigación en el marco en el que se realiza la movilidad (CI – SICOP) </strong></label>
                            <input name="sicop" class="form-control" placeholder="Ingrese SICOP" type="text">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-12">
                              <h2><strong>3. DATOS DE LA PERSONA QUE REALIZA LA MOVILIDAD</strong></h2>
                              <label class="control-label" for="modalidad"><strong>TIPO DE PERSONA</strong></label>
                              <select name="modalidad" class="form-control"  id="" >
                                <option value="">Profesor de Univalle</option>
                                <option value="">Profesor visitante internacional</option>
                                <option value="">Estudiante Univalle</option>
                              </select>
                            </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="nomApe"><strong>Nombres y Apellidos</strong></label>
                            <input name="nomApe" class="form-control" placeholder="Ingrese nombres y apellidos" type="text">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="ccpas"><strong>CC / Pasaporte N*</strong></label>
                            <input name="ccpas" class="form-control" placeholder="Ingrese CC o Numero pasaporte" type="text">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="nac"><strong>Nacionalidad</strong></label>
                            <input name="nac" class="form-control" placeholder="Ingrese Nacionalidad" type="text">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="ciuor"><strong>Ciudad Origen</strong></label>
                            <input name="ciuor" class="form-control" placeholder="Ingrese ciudad origen" type="text">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="ciudes"><strong>Ciudad Destino</strong></label>
                            <input name="ciudes" class="form-control" placeholder="Ingrese ciudad destino" type="text">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="paor"><strong>Pais Origen</strong></label>
                            <input name="paor" class="form-control" placeholder="Ingrese pais origen" type="text">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="pades"><strong>Pais Destino</strong></label>
                            <input name="pades" class="form-control" placeholder="Ingrese pais destino" type="text">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="part"><strong>Partida</strong></label>
                            <input name="part" class="form-control"  type="date">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-6">
                            <label class="control-label" for="regre"><strong>Regreso</strong></label>
                            <input name="regre" class="form-control"  type="date">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-12">
                              <h2><strong>4. INFORMACION DEL TIPO DE MOVILIDAD A LA QUE APLICA (Marque con una X)</strong></h2>
                              <label class="control-label" for="info4"><strong>TIPO DE PERSONA</strong></label>
                              <select name="info4" class="form-control"  id="" >
                                <option value="">Presentación de resultados de investigación o creación en eventos realizados en Colombia</option>
                                <option value="">Presentación de resultados de investigación en el exterior</option>
                                <option value="">Estancias internacionales</option>
                                <option value="">Fomento</option>
                              </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="observa"><strong>Observaciones</strong></label>
                            <textarea class="form-control" name="observa" id="" rows="5"></textarea>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="just"><strong>Jutificacion(100 palabras)</strong></label>
                            <textarea class="form-control" name="just" id="" rows="5"></textarea>
                          </div>
                      </div>

                      <div class="col-md-12">
                          <h2><strong>5. PRESUPUESTO</strong></h2>
                      </div>

                      <div class="col-md-12">
                          <table class="table">
                            <tr>
                              <th style="text-align: center;">ITEM SOLICITADO</th>
                              <th style="text-align: center;">VR. SOLICITADO OTRA DEPENDENCIAS</th>
                              <th style="text-align: center;">NOMBRE DE LA DEPENDENCIA</th>
                              <th style="text-align: center;">VALOR SOLICITADO COMITE CIAM*.</th>
                            </tr>
                            <tr>
                              <td> <input name="item1" class="form-control"  type="text"></td>
                              <td><input name="vr1" class="form-control"  type="text" placeholder="$"></td>
                              <td><input name="nom1" class="form-control"  type="text"></td>
                              <td><input name="val1" class="form-control"  type="text" placeholder="$"></td>
                            </tr>
                            <tr>
                              <td> <input name="item2" class="form-control"  type="text"></td>
                              <td><input name="vr2" class="form-control"  type="text" placeholder="$"></td>
                              <td><input name="nom2" class="form-control"  type="text"></td>
                              <td><input name="val2" class="form-control"  type="text" placeholder="$"></td>
                            </tr>
                            <tr>
                              <td> <input name="item3" class="form-control"  type="text"></td>
                              <td><input name="vr3" class="form-control"  type="text" placeholder="$"></td>
                              <td><input name="nom3" class="form-control"  type="text"></td>
                              <td><input name="val3" class="form-control"  type="text" placeholder="$"></td>
                            </tr>
                            <tr>
                              <td> <input name="item4" class="form-control"  type="text"></td>
                              <td><input name="vr4" class="form-control"  type="text" placeholder="$"></td>
                              <td><input name="nom4" class="form-control"  type="text"></td>
                              <td><input name="val4" class="form-control"  type="text" placeholder="$"></td>
                            </tr>
                            <tr>
                              <th colspan="3" tyle="text-align: right;">VALOR TOTAL DEL APOYO SOLICITADO</th>
                          
                              <td><input name="valT" class="form-control"  type="text" placeholder="$"></td>
                            </tr>
                          </table>
                          <p>*Sólo gastos de transporte y/o viáticos (NO APLICA para inscripciones, gastos de traslados aeropuertos, visas, seguros médicos, etc.) 
                            Para Profesores invitados internacionales, los recursos asignados se otorgan directamente al profesor visitante a su llegada.</p>
                      </div>

                      <div class="col-md-12">
                          <h2><strong>6. DOCUMENTOS ENTREGADOS (Marque con una X)</strong></h2>
                          <label class="control-label"><strong>MODALIDAD 1</strong></label>
                      </div>
                      <div class="col-md-12">
                        <table class="table table-bordered">
                          <tr>
                              <th colspan="3" style="text-align: center;">Profesores Nombrados de la Universidad del valle</th>
                              <th colspan="3" style="text-align: center;">Profesores y artistas internacionales</th>
                          </tr>
                          <tr>
                            <td colspan="2" style="text-align: left;"><p>Plan de Trabajo / actividades a desarrollar (Formato libre. Según agenda de viaje).</p></td>
                            <td colspan="1"><input  type="checkbox"></td>

                            <td colspan="2" style="text-align: left;"><p>Plan de Trabajo / actividades a desarrollar (Formato libre. Según agenda de viaje).</p></td>
                            <td colspan="1"><input  type="checkbox"></td>
                          </tr>
                          <tr>
                            <td colspan="2" style="text-align: left;"><p>Carta de invitación de un profesor en la entidad receptora o de aceptación de la ponencia por parte del comité organizador del evento.</p></td>
                            <td colspan="1"><input  type="checkbox"></td>

                            <td colspan="2" style="text-align: left;"><p>Carta del profesor invitado internacional aceptando la invitación y señalando que cumplirá con la agenda programada de acuerdo con los términos de la invitación.</p></td>
                            <td colspan="1"><input  type="checkbox"></td>
                          </tr>
                          <tr>
                            <td colspan="2" style="text-align: left;"><p>Carta de aprobación / VoBo del jefe inmediato autorizando realizar la movilidad.</p></td>
                            <td colspan="1"><input  type="checkbox"></td>

                            <td colspan="2" style="text-align: left;"><p>Copia de la página de identificación del pasaporte del profesor extranjero. </p></td>
                            <td colspan="1"><input  type="checkbox"></td>
                          </tr>
                          <tr>
                            <td colspan="2" style="text-align: left;"><p>Evidencia de posición de la universidad receptora según el ranking de Shanghái (Si aplica).</p></td>
                            <td colspan="1"><input  type="checkbox"></td>

                            <td colspan="2" style="text-align: left;"><p>Carta de compromiso de la Coordinación administrativa de la Facultad / Instituto asegurando el diligenciamiento ante el SIRE y la consecución de pólizas.</p></td>
                            <td colspan="1"><input  type="checkbox"></td>
                          </tr>
                          <tr>
                              <td colspan="2" rowspan="2" style="text-align: left;"><p>Presupuesto (ITEM 5 del presente formato).</p></td>
                              <td colspan="1" rowspan="2"><input  type="checkbox"></td>
                            
                            <td colspan="2" style="text-align: left;"><p>Evidencia de la posición que ocupa la universidad de procedencia en el ranking de Shanghái. NOTA: Cuando el investigador extranjero no esté adscrito a una institución que se encuentre en el ranking de Shanghái, deberá contar con un índice H en Web of Science igual o superior a 10.</p></td>
                            <td colspan="1"><input  type="checkbox"></td>
                          </tr>
                          <tr>
                            

                            <td colspan="2" style="text-align: left;"><p>Carta de aval del comité de investigaciones de la facultad / instituto académico (Según modelo ADJUNTO).</p></td>
                            <td colspan="1"><input  type="checkbox"></td>
                          </tr>
                        
                          
                        </table>
                      
                      </div>

                      <div class="col-md-12">
                          <label class="control-label"><strong>MODALIDAD 2</strong></label>
                      </div>
                      <div class="col-md-12">
                        <table class="table table-bordered">
                          <tr>
                              <th colspan="3" style="text-align: center;">Profesores Nombrados de la Universidad del valle</th>
                              <th colspan="3" style="text-align: center;">Profesores y artistas internacionales</th>
                          </tr>
                          <tr>
                            <td colspan="2" style="text-align: left;"><p>Tabulado de matrícula del semestre en el cual postula.</p></td>
                            <td colspan="1"><input  type="checkbox"></td>

                            <td colspan="2" rowspan="6" style="text-align: left;">
                              <p>Carta del tutor de tesis doctoral, aprobando la actividad en el exterior 
                                y comprometiéndose a: a) Brindar la asesoría al estudiante durante la ejecución 
                                de la movilidad internacional financiada por la Universidad. 
                                b) Revisar el informe de la pasantía y el artículo o producto elaborado por el 
                                estudiante en los siguientes 30 días hábiles después del regreso del estudiante.
                                </p></td>
                            <td colspan="1" rowspan="6"><input  type="checkbox"></td>
      
                          </tr>
                          <tr>
                            <td colspan="2" style="text-align: left;"><p>Certificado de promedio descargado del SRA.</p></td>
                            <td colspan="1"><input  type="checkbox"></td>               
                          </tr>
                          <tr>
                          <td colspan="2" style="text-align: left;"><p>Carta del comité de programa académico respaldando la postulación.</p></td>
                          <td colspan="1"><input  type="checkbox"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left;"><p>Carta de invitación de un profesor / institución / entidad receptora.</p></td>
                            <td colspan="1"><input  type="checkbox"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left;"><p>Carta de aval del comité de investigaciones de la facultad/instituto académico</p></td>
                            <td colspan="1"><input  type="checkbox"></td>
                        </tr>
                        <tr>
                              <td colspan="2" style="text-align: left;"><p>Documento del plan de trabajo / actividades a realizar en el exterior (Formato libre que indique cronograma y actividades).</p></td>
                              <td colspan="1"><input  type="checkbox"></td>
                        </tr>
                    
                          
                        </table>
                      
                      </div>

                      <div class="col-md-12">
                          <h4><strong>Firma del profesor responsable / Tutor del estudiante en caso de modalidad (2):</strong></h4>
                      </div>
                      <div class="col-md-12">

                      </div>
                      <div class="col-md-12">

                      </div>
                      <div class="col-md-12">

                      </div>
                      <div class="col-md-12">
                          <label class="control-label" for="nomfir"><strong>Nombre</strong></label>
                          <input name="nomfir" class="form-control" placeholder="Ingrese Nombre" type="text">
                          <label class="control-label" for="docfir"><strong>CC N*</strong></label>
                          <input name="docfir" class="form-control" placeholder="Ingrese documento" type="text">
                      </div>

                     
                      <div class="form-group">
                        <div class="col-md-12">
                          <button type="button" class="btn2 btn-danger btn-lg btn-block danger">Enviar</button>
                        </div>
                      </div>     
                  </fieldset> 
                </form>
            </div>
            
          </div>
      </div>
    </div>
  </div>

              <!-- <form id="modform">
              <h2 class="text-center">Solicitud para apoyo a la investigacion</h2>
          
              <div class="contentform" >
          
                  <div class="leftcontact table-responsive">
                  <div class="form-group">
                    <p>Fecha <span>*</span></p>
                    <span class="icon-case"><i class="fa fa-user"></i></span>
                    <input name="input1" class="clase" type="date" id="prenom" data-rule="required"/>
                    <div class="validation"></div>
                  </div>
                  </div>
                  <div class="rightcontact">
                  <div class="form-group">
                      <p>ID<span>*</span></p>
                      <span class="icon-case"><i class="fa fa-key"></i></span>
                      <input name="input2"  class="clase"type="text" id="prenom" data-rule="required"/>
                      <div class="validation"></div>
                    </div>
                  </div>
                  <table class="table table-condensed">
                      <thead>
                        <tr>
                          <th>Nodo</th>
                          <th>Lectura</th>
                          <th>Escritura</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                              <input  class="clase" readonly v type="text"  id="prenom" data-rule="required">
                            </td>
                          <td><input  style="height: 19px;" type="checkbox" ></td>
                          <td><input  style="height: 19px;" type="checkbox" ></td>
                        </tr>
                      </tbody>
                    </table>
                    <button  class="btn btn-success"><span class="fa fa-check"></span> Crear</button>
          
                </div>

            </form> -->