<!-- (click)="login()" -->

<div class="main-header sombra" >
  <a href="#" class="logo" >
    <span class="logo-lg" style="font-size: 25px;"><b >SIA</b>DRI</span>
  </a>
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li *ngIf="!this.session" class="dropdown notifications-menu" id="login-li-button">
          <a [routerLink]="('/login')" class="btn-interno"  style="cursor:pointer; padding-right: 30px; padding-top: 20px;">
            <i class="fa fa-sign-in" style="font-size: 15px;"> Ingresar</i>
           </a>
        </li>

        <li *ngIf="this.session" class="dropdown notifications-menu" style="padding-top: 3px;">
          <a href="#" class="dropdown-toggle" aria-expanded="true" data-toggle="modal" data-target="#modalNoti">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">{{notificaciones.length}}</span>
          </a>
        </li>

        <li *ngIf="this.session" class="dropdown notifications-menu">
          <a  title="Salir" id="logout" (click)="logout()" style="cursor:pointer; padding-right: 30px; padding-top: 20px;">
            <i class="fa fa-sign-out" style="font-size: 15px;"> Salir</i>
          </a>
        </li>

          <li class="dropdown notifications-menu">
            <div class="logo-image hidden-xs">
              <a id="logo" href="http://www.univalle.edu.co/">
                        <img longdesc="http://www.seapp724.com/" class="img-responsive"  src="assets/images/logounivalle.png" width="424" height="50" alt="Universidad del Valle">
                      </a>
            </div>
          </li>
          <li>

          </li>
      </ul>
    </div>

  </nav>
</div>

<div class="modal fade" id="modalNoti" role="dialog">
  <div class="modal-dialog modal-md">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="box box-danger">
          <div class="box-header text-center">
            <i class="fa fa-address-card-o"></i>

            <h3 class="box-title">Listado de Notificaciones</h3>
          </div>

          <div class="box-body">
            <ul class="list-group list-group-flush">
              <li style="cursor: pointer;" class="list-group-item" *ngFor="let item of this.notificaciones" (click)="info(item)">
                <i class="{{item.icon}}"></i>
                {{item.info}}
              </li>
            </ul>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>