<div class="box box-solid ">
  <div id="content-box" #panelSuperior class="box box-danger collapsed-box">
    <div class="box-header with-border">
      <div class="overlay" *ngIf="spinertablapostulaciones">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <h3 class="box-title">Solicitudes salientes</h3>

      <div class="box-tools pull-right">
        <button #panelSuperiorButton type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">

      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <div class="example-container mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>
          <!-- Name Column -->
          <ng-container matColumnDef="key">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.key}} </mat-cell>
          </ng-container>

          <!-- ID Column -->
          <ng-container matColumnDef="correo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Correo solicitante </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.correo}} </mat-cell>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="fechaCreado">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Creación </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.fechaCreado}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="destino">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Programa destino </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.destino}} </mat-cell>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
          </ng-container>
          <!-- Color Column -->
          <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.estado}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectSolicitud(row)" [ngClass]="{'selected': (rowSelected == row)}">
          </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>



    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>

  <div #panelinferior class="box box-danger collapsed-box">
    <div class="box-header with-border">
      <i class="fa fa-bank"></i>
      <h3 class="box-title">Solicitud</h3>

      <div class="box-tools pull-right">
        <button #panelinferiorButton type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-plus" #panelinferiorButtonIcon></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <div class="form-horizontal">
        <div *ngIf="(estadoComponenteInferior==1 || estadoComponenteInferior==4 || estadoComponenteInferior==3)">

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Informacion basica:
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="form-group">
                <label for="NOMBRE" class="col-md-5 control-label">NOMBRE</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["NOMBRE"]' type="text" class="form-control" id="NOMBRE" placeholder="nombre" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="EMAIL" class="col-md-5 control-label">EMAIL</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["Correo electrónico"]' type="email" class="form-control" id="EMAIL" placeholder="Email" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="PERIODO_ACADEMICO" class="col-md-5 control-label">PERIODO ACADÉMICO</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["PERIODO ACADÉMICO"]' type="text" class="form-control" id="PERIODO_ACADEMICO" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="CODIGO_CONVENIO" class="col-md-5 control-label">CODIGO CONVENIO</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["CODIGO_CONVENIO"]' type="text" class="form-control" id="CODIGO_CONVENIO" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="MODALIDAD" class="col-md-5 control-label">MODALIDAD</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["MODALIDAD"]' type="text" class="form-control" id="MODALIDAD" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="NIVEL_FORMACION_ESTUDIANTE_ORIGEN" class="col-md-5 control-label">NIVEL DE FORMACIÓN DEL ESTUDIANTE DE ORIGEN</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["NIVEL DE FORMACIÓN DEL ESTUDIANTE DE ORIGEN"]' type="text" class="form-control" id="NIVEL_FORMACION_ESTUDIANTE_ORIGEN"
                    readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="ID_SEXO_BIOLOGICO" class="col-md-5 control-label">ID SEXO BIOLOGICO</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["ID_SEXO_BIOLOGICO"]' type="text" class="form-control" id="ID_SEXO_BIOLOGICO" readonly>
                </div>
              </div>


            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Información personal:
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="form-group">
                <label for="ID_ESTADO_CIVIL" class="col-md-5 control-label">Marital status/Estado civil</label>
                <div class="col-md-7">
                  <select [(ngModel)]='solicitud["ID_ESTADO_CIVIL"]' [attr.disabled]="estadoComponenteInferior==4 ? true : false" id="ID_ESTADO_CIVIL"
                    class="form-control col-md-7">
                    <option>Single</option>

                    <option>Married</option>

                    <option>Other</option>

                  </select>
                </div>

              </div>
              <div class="form-group">
                <label for="TIPO_DE_INDENTIFICACION" class="col-md-5 control-label">Type of ID/Documento de identidad</label>

                <div class="col-md-7">

                  <select [(ngModel)]='solicitud["TIPO DE IDENTIFICACIÓN"]' [attr.disabled]="estadoComponenteInferior==4 ? true : false" id="TIPO_DE_INDENTIFICACION"
                    class="form-control col-md-7">
                    <option>Passport</option>

                    <option>Colombian National ID</option>

                    <option>Other</option>

                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="NUMERO_DE_IDENTIFICACION" class="col-md-5 control-label">ID number/número del document de identidad
                </label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["NÚMERO DE IDENTIFICACIÓN"]' type="text" class="form-control" id="NUMERO_DE_IDENTIFICACION"
                    [attr.disabled]="estadoComponenteInferior==4 ? true : false">
                </div>
              </div>


              <div class="form-group">
                <label for="exp_doc_date" class="col-md-5 control-label">Expiration date of the ID/vencimiento del documento de identidad</label>
                <mat-form-field class="col-md-7">
                  <input [(ngModel)]='solicitud["FECHA_EXPIRACION_DOCUMENTO"]' matInput [matDatepicker]="exp_doc_date" id="exp_doc_date" readonly>
                  <mat-datepicker-toggle matSuffix [for]="exp_doc_date"></mat-datepicker-toggle>
                  <mat-datepicker #exp_doc_date [disabled]="estadoComponenteInferior==4 ? true : false"></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="form-group">
                <label for="FECHA_NACIMIENTO" class="col-md-5 control-label">Date of birth/fecha de nacimiento</label>

                <mat-form-field class="col-md-7">
                  <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" [(ngModel)]='solicitud["FECHA_NACIMIENTO"]' matInput
                    [matDatepicker]="FECHA_NACIMIENTO" id="FECHA_NACIMIENTO" readonly>
                  <mat-datepicker-toggle [attr.disabled]="estadoComponenteInferior==4 ? true : false" matSuffix [for]="FECHA_NACIMIENTO"></mat-datepicker-toggle>
                  <mat-datepicker #FECHA_NACIMIENTO [disabled]="estadoComponenteInferior==4 ? true : false"></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="form-group">
                <label for="LUGAR_NACIMIENTO" class="col-md-5 control-label">Place of birth/Lugar de nacimiento</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["LUGAR_NACIMIENTO"]' type="text" class="form-control" id="LUGAR_NACIMIENTO" [attr.disabled]="estadoComponenteInferior==4 ? true : false">
                </div>
              </div>
              <div class="form-group">
                <label for="pais" class="col-md-5 control-label">Country/País</label>
                <div class="col-md-7">
                  <select [attr.disabled]="estadoComponenteInferior==4 ? true : false" [(ngModel)]='solicitud["PAIS_NACIMIENTO"]' class="form-control col-md-7"
                    id="pais">
                    <option *ngFor="let pais of paises ; index as i;" [ngValue]="pais"> {{pais}}</option>
                  </select>
                </div>

              </div>

              <div class="form-group">
                <label for="NACIONALIDAD" class="col-md-5 control-label">Nationality/Nacionalidad</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["NACIONALIDAD"]' type="text" class="form-control" id="NACIONALIDAD" [attr.disabled]="estadoComponenteInferior==4 ? true : false">
                </div>
              </div>

            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Contact address/dirección postal de contacto:
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="form-group">
                <label for="Address" class="col-md-5 control-label">Address - Dirección</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["DIRECCION"]' type="text" class="form-control" id="Address" [attr.disabled]="estadoComponenteInferior==4 ? true : false">
                </div>
              </div>
              <div class="form-group">
                <label for="City" class="col-md-5 control-label">City - Ciudad</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["CIUDAD_DIRECCION"]' type="text" class="form-control" id="City" [attr.disabled]="estadoComponenteInferior==4 ? true : false">
                </div>
              </div>
              <div class="form-group">
                <label for="Postal" class="col-md-5 control-label">Postal Code - Código postal</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["POSTAL_CODE_DIRECCION"]' type="text" class="form-control" id="Postal" [attr.disabled]="estadoComponenteInferior==4 ? true : false">
                </div>
              </div>
              <div class="form-group">
                <label for="Region" class="col-md-5 control-label">State/Province/Region - Estado/Provincia/Región</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["ESTADO_PROVINCIA_REGION"]' type="text" class="form-control" id="Region" [attr.disabled]="estadoComponenteInferior==4 ? true : false">
                </div>
              </div>
              <div class="form-group">
                <label for="pais" class="col-md-5 control-label">Country/País</label>
                <div class="col-md-7">
                  <select [attr.disabled]="estadoComponenteInferior==4 ? true : false" [(ngModel)]='solicitud["PAIS_DIRECCION"]' class="form-control col-md-7"
                    id="pais">
                    <option *ngFor="let pais of paises ; index as i;" [ngValue]="pais"> {{pais}}</option>
                  </select>
                </div>

              </div>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Mobilidad:
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="form-group">
                <label for="ciudadMobilidad" class="col-md-5 control-label">City/ciudad</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["CIUDAD_MOBILIDAD"]' type="text" class="form-control" id="ciudadMobilidad" [attr.disabled]="estadoComponenteInferior==4 ? true : false">
                </div>
              </div>
              <div class="form-group">
                <label for="paisMobilidad" class="col-md-5 control-label">Country/País</label>
                <div class="col-md-7">
                  <select [attr.disabled]="estadoComponenteInferior==4 ? true : false" [(ngModel)]='solicitud["PAIS_MOBILIDAD"]' class="form-control col-md-7"
                    id="paisMobilidad">
                    <option *ngFor="let pais of paises ; index as i;" [ngValue]="pais"> {{pais}}</option>
                  </select>
                </div>

              </div>



              <div class="form-group">
                <label for="Postal" class="col-md-5 control-label">Lenght of the mobility/Duración de la Movilidad</label>

                <mat-form-field class="col-md-3">
                  <input [(ngModel)]='inicioMobilidad' matInput [matDatepicker]="fechaInicioMobilidad" placeholder="From/desde" readonly (dateInput)="calculaDias('input', $event)"
                    (dateChange)="calculaDias('change', $event)">
                  <mat-datepicker-toggle matSuffix [for]="fechaInicioMobilidad"></mat-datepicker-toggle>
                  <mat-datepicker #fechaInicioMobilidad [disabled]="estadoComponenteInferior==4 ? true : false"></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="col-md-3">
                  <input [(ngModel)]='finMobilidad' matInput [matDatepicker]="fechaFinMobilidad" placeholder="To/hasta" readonly (dateInput)="calculaDias('input', $event)"
                    (dateChange)="calculaDias('change', $event)">
                  <mat-datepicker-toggle matSuffix [for]="fechaFinMobilidad"></mat-datepicker-toggle>
                  <mat-datepicker #fechaFinMobilidad [disabled]="estadoComponenteInferior==4 ? true : false"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-group">
                <label for="Region" class="col-md-5 control-label">Number of days/número de días</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["NUM_DIAS_MOVILIDAD"]' type="text" class="form-control" id="Region" readonly>
                </div>
              </div>

            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  ACADEMIC INFORMATION/INFORMACIÓN ACADÉMICA:
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="form-group">
                <label for="programaOrigen" class="col-md-5 control-label">Academic program in which you study in your home university/ Programa académico en el cual estudia en su
                  universidad de origen</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["PROGRAMA ACADÉMICO DE ORIGEN"]' type="text" class="form-control" id="programaOrigen" placeholder="OPTION 1 / OPCIÓN 1"
                    [attr.disabled]="estadoComponenteInferior==4 ? true : false">
                </div>
              </div>
              <div class="form-group">
                <label for="programaOrigen2" class="col-md-5 control-label">Academic program in which you study in your home university/ Programa académico en el cual estudia en su
                  universidad de origen</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["PROGRAMA ACADÉMICO DE ORIGEN 2"]' type="text" class="form-control" id="programaOrigen2" placeholder="OPTION 2 / OPCIÓN 2"
                    [attr.disabled]="estadoComponenteInferior==4 ? true : false">
                </div>
              </div>
              <div class="form-group">
                <label for="institucionMedica" class="col-md-5 control-label">Medical department in your home institution (only for clinical rotations and medical speciality)
                  <br> Departamento médico en tu Universidad de origen (aplica solo por rotaciones médicas y Posgrado Especialización
                  Clínico Quirúrgica)</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["INSTITUCION_MEDICA"]' type="text" class="form-control" id="institucionMedica" placeholder="institution"
                    [attr.disabled]="estadoComponenteInferior==4 ? true : false">
                </div>
              </div>

              <!-- opcion 1 de programa a cursar -->
              <mat-divider></mat-divider>

              <div class="form-group">
                <label for="facultadOpcion1" class="col-md-5 control-label">Academic program you want to come at the Universidad del Valle or research area/Programa académico o grupo
                  de investigación en el cual desea estudiar/investigar
                </label>
                <div class="col-md-7">

                </div>

              </div>
              <div class="form-group">
                <label for="facultadOpcion1" class="col-md-5 control-label">School/Facultad/Instituto</label>
                <div class="col-md-7">
                  <select [attr.disabled]="estadoComponenteInferior==4 ? true : false" [(ngModel)]='solicitud["Facultad"]' class="form-control col-md-7"
                    id="facultadOpcion1" (click)="getProgramasPorFacultad()">
                    <option value="" disabled selected>Select your option</option>
                    <option *ngFor="let facultad of arrayFacultades ; index as i;" [ngValue]="facultad"> {{facultad}}</option>

                  </select>
                </div>

              </div>
              <div class="form-group">
                <label for="programaOpcion1" class="col-md-5 control-label">Academic Program/Programa académico</label>
                <div class="col-md-7">
                  <select [attr.disabled]="estadoComponenteInferior==4 ? true : false" [(ngModel)]='solicitud["PROGRAMA ACADÉMICO DE DESTINO (1)"]'
                    class="form-control col-md-7" id="programaOpcion1">
                    <option value="" disabled selected>Select your option</option>
                    <option *ngFor="let prog of arrayProgramas ; index as i;" [ngValue]="prog"> {{prog}}</option>

                  </select>
                </div>

              </div>

              <!-- opcion 2 de programa a cursar -->
              <mat-divider></mat-divider>

              <div class="form-group">
                <label for="facultadOpcion" class="col-md-5 control-label">Academic program you want to come at the Universidad del Valle or research area/Programa académico o grupo
                  de investigación en el cual desea estudiar/investigar Option 2</label>
                <div class="col-md-7">

                </div>

              </div>
              <div class="form-group">
                <label for="facultadOpcion2" class="col-md-5 control-label">School/Facultad/Instituto (2)</label>
                <div class="col-md-7">
                  <select [attr.disabled]="estadoComponenteInferior==4 ? true : false" [(ngModel)]='solicitud["Facultad2"]' class="form-control col-md-7"
                    id="facultadOpcion2" (click)="getProgramasPorFacultad2()">
                    <option value="" disabled selected>Select your option</option>
                    <option *ngFor="let facultad of arrayFacultades2 ; index as i;" [ngValue]="facultad"> {{facultad}}</option>

                  </select>
                </div>

              </div>
              <div class="form-group">
                <label for="programaOpcion2" class="col-md-5 control-label">Academic Program/Programa académico (2)</label>
                <div class="col-md-7">
                  <select [attr.disabled]="estadoComponenteInferior==4 ? true : false" [(ngModel)]='solicitud["PROGRAMA ACADÉMICO DE DESTINO (2)"]'
                    class="form-control col-md-7" id="programaOpcion2">
                    <option value="" disabled selected>Select your option</option>
                    <option *ngFor="let prog of arrayProgramas2 ; index as i;" [ngValue]="prog"> {{prog}}</option>

                  </select>
                </div>

              </div>
              <!-- Cursos que desea matricular -->
              <mat-divider></mat-divider>

              <div class="form-group">
                <label class="col-md-5 control-label">Courses you want to register at Universidad del Valle (if apply)/ Cursos que desea matricular en la Univesidad
                  del Valle (si aplica) </label>
                <div class="col-md-7">

                </div>

              </div>
              <div class="form-group">
                <div class="col-md-5"></div>

                <div class="col-md-7">
                  <input [(ngModel)]='cursos[0]["nombre"]' type="text" class="form-control" placeholder="Curso 1"
                    [attr.readonly]="estadoComponenteInferior==2 ? '' : null">
                </div>

              </div>
              <div class="form-group">
                <div class="col-md-5"></div>

                <div class="col-md-7">
                  <input [(ngModel)]='cursos[1]["nombre"]' type="text" class="form-control" placeholder="Curso 2"
                    [attr.readonly]="estadoComponenteInferior==2 ? '' : null">
                </div>
                <div class="col-md-3">
                  <label for="">Group/Grupo</label>
                </div>
                <div class="col-md-3">
                  <label for="">Materia Equivalente</label>
                </div>
              </div>
              <div *ngFor="let item of solicitud['cursos']" class="form-group">
                <div class="col-md-3">

                <div class="col-md-7">
                  <input [(ngModel)]='cursos[2]["nombre"]' type="text" class="form-control" placeholder="Curso 3"
                    [attr.readonly]="estadoComponenteInferior==2 ? '' : null">
                </div>

              </div>
              <div class="form-group">
                <div class="col-md-5"></div>

                <div class="col-md-7">
                  <input [(ngModel)]='cursos[3]["nombre"]' type="text" class="form-control" placeholder="Curso 4"
                    [attr.readonly]="estadoComponenteInferior==2 ? '' : null">
                </div>

              </div>
              <div class="form-group">
                <div class="col-md-5"></div>

                <div class="col-md-7">
                  <input [(ngModel)]='cursos[4]["nombre"]' type="text" class="form-control" placeholder="Curso 5"
                    [attr.readonly]="estadoComponenteInferior==2 ? '' : null">
                </div>

              </div>
              <div class="form-group">
                <div class="col-md-5"></div>

                <div class="col-md-7">
                  <input [(ngModel)]='cursos[5]["nombre"]' type="text" class="form-control" placeholder="Curso 6"
                    [attr.readonly]="estadoComponenteInferior==2 ? '' : null">
                </div>

              </div>

              <!-- Desea matricular ingles-->

              <mat-divider></mat-divider>

              <div class="form-group">
                <label class="col-md-5 control-label">Are you interested in attending a spanish course during your stay at UniValle? (only available for semester
                  stay)/Está interesado en matricular español como lengua extranjera? </label>
                <div class="col-md-7">
                  <div class="radio">
                    <label>
                      <input type="radio" name="matriculaIngles" [(ngModel)]='solicitud["matriculaIngles"]' value="si" [attr.disabled]="estadoComponenteInferior==4 ? true : false"> Yes/si
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="matriculaIngles" [(ngModel)]='solicitud["matriculaIngles"]' value="no" [attr.disabled]="estadoComponenteInferior==4 ? true : false"> No/no
                    </label>
                  </div>
                </div>


              </div>

            </mat-expansion-panel>

            <!-- MOBILITY FUNDING INFOTMATION/INFORMACIÓN DE FINANCIAMIENTO DE LA MOVILIDAD -->
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  MOBILITY FUNDING INFOTMATION/INFORMACIÓN DE FINANCIAMIENTO DE LA MOVILIDAD:
                </mat-panel-title>
              </mat-expansion-panel-header>



              <div class="form-group">
                <label for="genero" class="col-md-5 control-label">FUNDING/FINANCIAMIENTO</label>
                <div class="col-md-7">
                  <select [(ngModel)]='solicitud["FINANCIAMIENTO"]' [attr.disabled]="estadoComponenteInferior==4 ? true : false" id="genero"
                    class="form-control col-md-7">
                    <option>Personal funds/Recursos Propios</option>

                    <option> Scholarship/Beca</option>

                    <option> Personal funds and Scholarship/Recursos Propios y Beca</option>

                    <option> Other / Otro</option>

                  </select>
                </div>

              </div>


              <div class="form-group">
                <label for="genero" class="col-md-5 control-label">In case of scholarship, please select range the of the total amount/en caso de beca, por favor selecciones
                  el rango de la cantidad recibida</label>

                <div class="col-md-7">
                  <input [(ngModel)]='solicitud["finaciacionBeca_rango"]' type="text" class="form-control" placeholder="Range" [attr.disabled]="estadoComponenteInferior==4 ? true : false">
                </div>

              </div>

              <div class="form-group">
                <label for="genero" class="col-md-9 control-label">In case of scholarship, please select the funding source /En caso de beca, por favor seleccione la fuente
                  de los recursos</label>

                <div class="col-md-7">

                </div>

              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <input [(ngModel)]='solicitud["finaciacionInstitucionNacional"]' type="text" class="form-control" placeholder="National institution/Institución Nacional"
                    [attr.disabled]="estadoComponenteInferior==4 ? true : false">
                </div>

                <div class="col-md-6">
                  <select [attr.disabled]="estadoComponenteInferior==4 ? true : false" [(ngModel)]='solicitud["finaciacionPaisInstitucionNacional"]'
                    class="form-control">
                    <option *ngFor="let pais of paises ; index as i;" [ngValue]="pais"> {{pais}}</option>
                  </select>
                </div>

              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <input [(ngModel)]='solicitud["finaciacionInstitucionInternacional"]' type="text" class="form-control" placeholder="International institution/Institución Internacional"
                    [attr.disabled]="estadoComponenteInferior==4 ? true : false">
                </div>

                <div class="col-md-6">
                  <select [attr.disabled]="estadoComponenteInferior==4 ? true : false" [(ngModel)]='solicitud["finaciacionPaisInstitucionInternacional"]'
                    class="form-control ">
                    <option *ngFor="let pais of paises ; index as i;" [ngValue]="pais"> {{pais}}</option>
                  </select>
                </div>

              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <input [(ngModel)]='solicitud["finaciacionONG"]' type="text" class="form-control" placeholder="NGO/ONG" [attr.disabled]="estadoComponenteInferior==4 ? true : false">
                </div>

                <div class="col-md-6">

                </div>

              </div>

            </mat-expansion-panel>
            <!-- /MOBILITY FUNDING INFOTMATION/INFORMACIÓN DE FINANCIAMIENTO DE LA MOVILIDAD -->


            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  REQUIRED DOCUMENTS / DOCUMENTOS SOLICITADOS:
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div *ngIf="solicitud['MODALIDAD']==='Academic exchange / Intercambio académico'">
                <!-- INPUTS FILES UPLOAD -->
                <div class="form-group">
                  <label for="inputCartaPresentacion" class="col-md-5 control-label">Presentation letter from home university (It must include: name, last name, passport number, colombian
                    ID for colombian citizens enrolled in a foreign university, dates for the exchange/rotation and specific
                    field or area of knowledge)/Carta de presentación de la universidad de origen (debe incluir nombres y
                    apellidos, número de pasaporte o de C.C. para nacionales colombianos, fechas del intercambio y programa
                    académico).
                  </label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputCartaPresentacion id="inputCartaPresentacion">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputCertificadoNotas" class="col-md-5 control-label">Certificate with grades in spanish (official translation is not required)/Certificado de notas (traducido
                    al español, no se requiere una traducción oficial).</label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputCertificadoNotas id="inputCertificadoNotas">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputConocimientoEspanol" class="col-md-5 control-label">Document attesting spanish knowledge (B2) for non-native spanish speakers/Documento que avale un conocimiento
                    suficiente de español (B2) para estudiantes que sean de lengua extranjera o distinta al español.</label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputConocimientoEspanol id="inputConocimientoEspanol">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputCartaMotivacion" class="col-md-5 control-label">Motivation letter in spanish/Carta de Motivación en español</label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputCartaMotivacion id="inputCartaMotivacion">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputDocumentoID" class="col-md-5 control-label">Copy of passport or Cédula de Ciudadanía for Colombian citizens/Fotocopia del pasaporte o cédula de ciudadanía para
                    colombianos
                  </label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputDocumentoID id="inputDocumentoID">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputFoto" class="col-md-5 control-label">3x4 cm photo, white background, JPF format/Foto 3x4 cm fondo blanco en .JPG.</label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputFoto id="inputFoto">
                  </div>
                </div>

                <div class="form-group">
                  <h4 class="col-md-5 ">REQUISITOS ADICIONALES</h4>
                  <div class="col-md-7">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEuropassCV" class="col-md-5 control-label">Faculty of Health incoming students: you must also upload Europass CV/Para estudiantes visitantes internacionales
                    en la Facultad de Salud: adicionar el Europass CV.</label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputEuropassCV id="inputEuropassCV">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputFellows" class="col-md-5 control-label">Fellows: please send the undergraduate and posgraduate diploma/Para Fellows: enviar los diplomas de pregrado
                    y posgrado</label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputFellows id="inputFellows">
                  </div>
                </div>
                <!-- FILES DONWLOAD -->
                <div *ngIf="(estadoComponenteInferior == 3 || estadoComponenteInferior == 2)">
                  <div class="form-group" *ngIf="(this.solicitud['CartaPresentacion']!=undefined && this.solicitud['CartaPresentacion']!='')">
                    <label>Carta presentacion</label>

                    <a href="{{this.solicitud['CartaPresentacion']}}" target="_blank">link</a>
                  </div>

                  <div class="form-group" *ngIf="( this.solicitud['CertificadoNotas']!=undefined && this.solicitud['CertificadoNotas']!='')">
                    <label>Certificado de notas</label>

                    <a href="{{this.solicitud['CertificadoNotas']}}" target="_blank"> link</a>
                  </div>

                  <div class="form-group" *ngIf="( this.solicitud['ConocimientoEspanol']!=undefined && this.solicitud['ConocimientoEspanol']!='')">
                    <label>Certificado español</label>

                    <a href="{{this.solicitud['ConocimientoEspanol']}}" target="_blank"> link</a>
                  </div>



                  <div class="form-group" *ngIf="( this.solicitud['CartaMotivacion']!=undefined && this.solicitud['CartaMotivacion']!='')">
                    <label>Carta motivación</label>

                    <a href="{{this.solicitud['CartaMotivacion']}}" target="_blank"> link</a>
                  </div>

                  <div class="form-group" *ngIf="( this.solicitud['DocumentoID']!=undefined && this.solicitud['DocumentoID']!='')">
                    <label>Documento de identidadI</label>

                    <a href="{{this.solicitud['DocumentoID']}}" target="_blank"> link</a>
                  </div>

                  <div class="form-group" *ngIf="( this.solicitud['Foto']!=undefined && this.solicitud['Foto']!='')">
                    <label>Foto</label>

                    <a href="{{this.solicitud['Foto']}}" target="_blank"> link</a>
                  </div>

                  <div class="form-group" *ngIf="( this.solicitud['EuropassCV']!=undefined && this.solicitud['EuropassCV']!='')">
                    <label>Europass CV</label>

                    <a href="{{this.solicitud['EuropassCV']}}" target="_blank"> link</a>
                  </div>

                  <div class="form-group" *ngIf="( this.solicitud['Fellows']!=undefined && this.solicitud['Fellows']!='')">
                    <label>Fellows</label>

                    <a href="{{this.solicitud['Fellows']}}" target="_blank"> link</a>
                  </div>
                </div>
              </div>

              <div *ngIf="(solicitud['MODALIDAD']==='Internship / Pasantía internacional' || solicitud['MODALIDAD']==='Estancia de Investigación')">
                <div class="form-group">
                  <label for="inputCartaTutor" class="col-md-5 control-label">Letter of introduction from the tutor at home university./Carta de presentación del Tutor en la universidad
                    de origen.</label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputCartaTutor id="inputCartaTutor">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputCartaProfesorUV" class="col-md-5 control-label">Letter of invitation from an appointed professor of Universidad del Valle, supported by a work schedule./Carta
                    de invitación de un profesor nombrado de la Universidad del Valle, anexando el cronograma de trabajo.</label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputCartaProfesorUV id="inputCartaProfesorUV">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputDescripcionProyecto" class="col-md-5 control-label">Brief description of the project to be developed (in English or Spanish)/Breve exposición del proyecto a
                    realizar (inglés o español).
                  </label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputDescripcionProyecto id="inputDescripcionProyecto">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputDocumentoID" class="col-md-5 control-label">Copy of passport or Cédula de Ciudadanía for Colombian citizens/Fotocopia del pasaporte o cédula de ciudadanía para
                    colombianos</label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputDocumentoID id="inputDocumentoID">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputFoto" class="col-md-5 control-label">3x4 cm photo, white background, JPF format/Foto 3x4 cm fondo blanco en .JPG.</label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputFoto id="inputFoto">
                  </div>
                </div>


                <div *ngIf="(estadoComponenteInferior == 3 || estadoComponenteInferior == 2)">
                  <div class="form-group" *ngIf="(this.solicitud['CartaTutor']!=undefined && this.solicitud['CartaTutor']!='')">
                    <label>Carta de tutor</label>

                    <a href="{{this.solicitud['CartaTutor']}}" target="_blank">Carta de tutor</a>
                  </div>

                  <div class="form-group" *ngIf="( this.solicitud['CartaProfesorUV']!=undefined && this.solicitud['CartaProfesorUV']!='')">
                    <label>Carta invitación</label>

                    <a href="{{this.solicitud['CartaProfesorUV']}}" target="_blank"> Carta invitación</a>
                  </div>

                  <div class="form-group" *ngIf="( this.solicitud['DescripcionProyecto']!=undefined && this.solicitud['DescripcionProyecto']!='')">
                    <label>proyecto </label>

                    <a href="{{this.solicitud['DescripcionProyecto']}}" target="_blank"> proyecto </a>
                  </div>



                  <div class="form-group" *ngIf="( this.solicitud['DocumentoID']!=undefined && this.solicitud['DocumentoID']!='')">
                    <label>Documento de identidadI</label>

                    <a href="{{this.solicitud['DocumentoID']}}" target="_blank"> link</a>
                  </div>

                  <div class="form-group" *ngIf="( this.solicitud['Foto']!=undefined && this.solicitud['Foto']!='')">
                    <label>Foto</label>

                    <a href="{{this.solicitud['Foto']}}" target="_blank"> Foto</a>
                  </div>
                </div>


              </div>


              <div *ngIf="solicitud['MODALIDAD']==='Clinical Rotation / Rotación clínica'">
                <div class="form-group">
                  <label for="inputCartaPresentacion" class="col-md-5 control-label">Presentation letter from home university (It must include: name, last name, passport number, colombian
                    ID for colombian citizens enrolled in a foreign university, dates for the exchange/rotation and specific
                    field or area of knowledge)/Carta de presentación de la universidad de origen (debe incluir nombres y
                    apellidos, número de pasaporte o de C.C. para nacionales colombianos, fechas del intercambio y programa
                    académico).</label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputCartaPresentacion id="inputCartaPresentacion">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputCertificadoNotas" class="col-md-5 control-label">Certificate with grades in spanish (official translation is not required)/Certificado de notas (traducido
                    al español, no se requiere una traducción oficial).</label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputCertificadoNotas id="inputCertificadoNotas">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputConocimientoEspanol" class="col-md-5 control-label">Document attesting spanish knowledge (B2) for non-native spanish speakers/Documento que avale un conocimiento
                    suficiente de español (B2) para estudiantes que sean de lengua extranjera o distinta al español.</label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputConocimientoEspanol id="inputConocimientoEspanol">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputCartaMotivacion" class="col-md-5 control-label">Motivation letter in spanish/Carta de Motivación en español</label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputCartaMotivacion id="inputCartaMotivacion">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputDocumentoID" class="col-md-5 control-label">Copy of passport or Cédula de Ciudadanía for Colombian citizens/Fotocopia del pasaporte o cédula de ciudadanía para
                    colombianos</label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputDocumentoID id="inputDocumentoID">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputFoto" class="col-md-5 control-label">3x4 cm photo, white background, JPF format/Foto 3x4 cm fondo blanco en .JPG.</label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputFoto id="inputFoto">
                  </div>
                </div>


                <div class="form-group">
                  <label for="inputEuropassCV" class="col-md-5 control-label">Faculty of Health incoming students: you must also upload Europass CV/Para estudiantes visitantes internacionales
                    en la Facultad de Salud: adicionar el Europass CV.</label>
                  <div class="col-md-7">
                    <input [attr.disabled]="estadoComponenteInferior==4 ? true : false" type="file" #fileInputEuropassCV id="inputEuropassCV">
                  </div>
                </div>
                <div *ngIf="(estadoComponenteInferior == 3 || estadoComponenteInferior == 2)">
                  <div class="form-group" *ngIf="(this.solicitud['CartaPresentacion']!=undefined && this.solicitud['CartaPresentacion']!='')">
                    <label>Carta presentacion</label>

                    <a href="{{this.solicitud['CartaPresentacion']}}" target="_blank">link</a>
                  </div>

                  <div class="form-group" *ngIf="( this.solicitud['CertificadoNotas']!=undefined && this.solicitud['CertificadoNotas']!='')">
                    <label>Certificado de notas</label>

                    <a href="{{this.solicitud['CertificadoNotas']}}" target="_blank"> link</a>
                  </div>

                  <div class="form-group" *ngIf="( this.solicitud['ConocimientoEspanol']!=undefined && this.solicitud['ConocimientoEspanol']!='')">
                    <label>Certificado español</label>

                    <a href="{{this.solicitud['ConocimientoEspanol']}}" target="_blank"> link</a>
                  </div>



                  <div class="form-group" *ngIf="( this.solicitud['CartaMotivacion']!=undefined && this.solicitud['CartaMotivacion']!='')">
                    <label>Carta motivación</label>

                    <a href="{{this.solicitud['CartaMotivacion']}}" target="_blank"> link</a>
                  </div>

                  <div class="form-group" *ngIf="( this.solicitud['DocumentoID']!=undefined && this.solicitud['DocumentoID']!='')">
                    <label>Documento de identidadI</label>

                    <a href="{{this.solicitud['DocumentoID']}}" target="_blank"> link</a>
                  </div>

                  <div class="form-group" *ngIf="( this.solicitud['Foto']!=undefined && this.solicitud['Foto']!='')">
                    <label>Foto</label>

                    <a href="{{this.solicitud['Foto']}}" target="_blank"> link</a>
                  </div>

                  <div class="form-group" *ngIf="( this.solicitud['EuropassCV']!=undefined && this.solicitud['EuropassCV']!='')">
                    <label>Europass CV</label>

                    <a href="{{this.solicitud['EuropassCV']}}" target="_blank"> link</a>
                  </div>


                </div>

              </div>


            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Comentarios
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="form-group" *ngIf="( this.solicitud['comentariosDRI']!=undefined && this.solicitud['comentariosDRI']!='')">
                <label>Comentarios del DRI</label>
                <textarea class="form-control" rows="3" [(ngModel)]='solicitud["comentariosDRI"]' readonly></textarea>
              </div>
              <div class="form-group" *ngIf="( this.solicitud['comentariosDirector']!=undefined && this.solicitud['comentariosDirector']!='')">
                <label>Comentarios del Director</label>
                <textarea class="form-control" rows="3" [(ngModel)]='solicitud["comentariosDirector"]' readonly></textarea>
              </div>
              <div class="form-group">
                <label>Comentarios del Estudiante</label>
                <textarea class="form-control" rows="3" [attr.readonly]="estadoComponenteInferior==2 ? '' : null" [(ngModel)]='solicitud["comentariosEstudiante"]'></textarea>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

          <br>
          <br>


        </div>

      </div>
    </div>
    <div class="box-footer">
      <div *ngIf="estadoComponenteInferior==3" class="row">
        <div class="col-md-4">
          <button type="button" class="col-md-4 btn btn-block btn-danger" (click)="cancelarSolicitud()">Cancelar solicitud
            <i class="fa fa-arrow-circle-up"></i>
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="col-md-4 btn btn-block btn-info" (click)="guardarSolicitud()">Guardar solicitud
            <i class="fa fa-arrow-circle-up"></i>
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="col-md-4 btn btn-block btn-success" (click)="actualizarSolicitud()">Actualizar solicitud
            <i class="fa fa-arrow-circle-up"></i>
          </button>
        </div>
      </div>

      <div *ngIf="estadoComponenteInferior==4" class="row">
        <div class="col-md-12">
          <button type="button" class="col-md-4 btn btn-block btn-success" (click)="openDialog()">
            Solicitar cambio de materias
            <i class="fa fa-arrow-circle-up"></i>
          </button>
        </div>
      </div>
      <!-- <div class="row" *ngIf="solicitud.nombre!==undefined">
        <div class="col-md-6">
            <button type="button" class="btn btn-block btn-danger" (click)="denegar()">Negar</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-block btn-success" (click)="aprobar()">Success</button>
        </div>
      </div> -->
    </div>
  </div>

</div>

<button (click)="prueba()">
  Click
</button>