<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
      <div *ngIf="this.datosUser" class="user-panel top">
          <div class="pull-left image">
            <img src="{{this.datosUser.photoURL}}" id="my_image" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p id="msg">{{this.datosUser.displayName}}</p>
            <a href="#">
              <i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header" align="center">Menu de navegacion</li>
      <!-- Componentes traidos del sidebar componentes -->
      <app-agreements ></app-agreements>
      <app-inscripciones *ngIf="datosUser!=null"></app-inscripciones>
      <!-- Componentes traidos del sidebar componentes 
      <app-agreements *ngIf="datosUser!=null"></app-agreements>
      <app-inscripciones *ngIf="datosUser!=null"></app-inscripciones>-->

      <!-- <li><a href="Manual_Usuario_Externo.pdf"><i class="fa fa-book"></i> <span>Manual de usuario</span></a></li> -->
      <li><a class='menubusqueda' tabindex="-1" href="#" id="menu-contacto"><i class="fa fa-mouse-pointer"></i>  <span>Contactenos</span></a></li>
  
    </ul>
  </section>
    <!-- /.sidebar -->
</aside>
