<ul class="sidebar-menu">
    <li class="treeview ">
      <a href="#">
        <i class="fa  fa-users"></i> <span>Administrar</span>
        <span class="pull-right-container ">
          <i class="fa fa-angle-left pull-right icono "></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a   [routerLink]="['roles']" class='menubusqueda ' #valor id="roles"><i class="fa fa-circle-o"></i>Roles</a></li>
        <li><a   [routerLink]="['usuarios']" class='menubusqueda' tabindex="-1" id="usuarios"><i class="fa fa-circle-o"></i>Usuarios</a></li>
      </ul>
    </li>
  </ul>