<mat-dialog-content [formGroup]="form">
  <div *ngIf="this.variable" class="col-md-12 text-center">

    <div class="box-header with-border">
      <i class="fa fa-bank"></i>
      <h3 class="box-title">Compartir a dirección de programa</h3>
    </div>
    <div class="box-body">
      <div class="form-horizontal">
        <div class="row">
          <div class="form-group">
            <label for="institucion" >Seleccione un Programa</label>
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input [(ngModel)]="this.programa" type="text" placeholder="Seleccione un programa" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let insti of filteredOptions | async" [value]="insti['prog']">
                    {{  insti['prog'] }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            </div>
          </div>


        </div>

        <div class="row">
          <div class="form-group">
            <label for="institucion">Seleccione un Segundo Programa (opcional)</label>
            <div class="col-md-12">

              <mat-form-field class="example-full-width">
                <input [(ngModel)]="this.programa2" type="text" placeholder="Seleccione un programa" aria-label="Number" matInput [formControl]="myControl2" [matAutocomplete]="auto2">
                <mat-autocomplete #auto2="matAutocomplete">
                  <mat-option *ngFor="let insti of filteredOptions2 | async" [value]="insti['prog']">
                    {{ insti['prog'] }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            </div>
          </div>


        </div>

      </div>

    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-md-12">

        </div>
        <div class="col-md-12">
          <button type="button" class="btn btn-block btn-success" (click)="save()">Compartir a direccion de programa
            <i class="fa fa-arrow-circle-up"></i>
          </button>
          <button type="button" class="btn btn-block btn-danger" (click)="close()">Cancelar
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="!this.variable" class="col-md-12 text-center">

    <div class="box-header with-border">
      <i class="fa fa-bank"></i>
      <h3 class="box-title">Retornar Solicitud</h3>
    </div>
    <div class="box-body">
      <div class="form-horizontal">
        <div class="row">
          <div class="form-group">
            <div class="col-md-12">

              <label for="correo" class="control-label">Por favor agregue un comentario/motivo del retorno</label>
              <textarea [formControl]="myControlComent" class="form-control" [(ngModel)]='this.comentario' name="" id="" rows="8"></textarea>

            </div>
          </div>


        </div>


      </div>

    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-md-12">

        </div>
        <div class="col-md-12">
          <button type="button" class="btn btn-block btn-success" (click)="retornar()">Retornar Solicitud
          </button>
          <button type="button" class="btn btn-block btn-danger" (click)="close()">Cancelar
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>

    </div>
  </div>


</mat-dialog-content>