
<div style="background-color: rgb(255, 255, 255);">

	<nav class="navbar" id="menuSuperior" style="background-color: rgb(255, 255, 255); height: 100%;">
		<div class="container-fluid" style="padding-right:0px;">
			<div>

				<a href="http://www.univalle.edu.co/" >
			  		<img class="responsive" src="../../../../assets/images/logo.jpg">
			  	</a>

			</div>


	  </div>
	</nav>

	<!-- MENU PRINCIPAL -->
	<hr class="barraHorizontal">
	 <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	 <p class="subtitulos-seccion3"><a style="color: rgb(0, 0, 0);" href="http://viceinvestigaciones.univalle.edu.co/">Vicerectoria de Investigaciones DRI > SIADRI</a> </p>

	 <div class="col-md-5" style="padding-top: 40px; padding-left: 10px;font-family: arial;">

		<div class="panel-group" id="accordion" >
				<div class="panel panel-default" style="border-color: white;">
						<div class="panel-heading text-center" style="background-color:rgb(232,28,37)">
						<h4 class="panel-title" style="color: white; font-weight: bold;font-size: 18px;">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
								¿Que significa SIADRI?</a>

						</h4>

						</div>
						<div id="collapse1" class="panel-collapse collapse">
						<div class="panel-body">
              El sistema integral para la administración de relaciones internacionales es una herramienta de información, flexible y adaptable para facilitar la gestión de las relaciones internacionales, que sirve de referencia y apoyo, tanto interno como externo para profesores, estudiantes e investigadores que desean establecer y desarrollar acciones de cooperación, en el marco de las actividades contenidas en los convenios vigentes entre la Universidad del Valle e instituciones internacionales.
						</div>
						</div>
					</div>
					<div class="panel panel-default text-center" style="border-color: rgb(232,28,37);">
						<div class="panel-heading" style="background-color:white">
						<h4 class="panel-title" style="color: rgb(232,28,37); font-weight: bold;font-size: 18px;">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
								¿A que dependencia pertenece?</a>
						</h4>

						</div>
						<div id="collapse2" class="panel-collapse collapse">
						<div class="panel-body">
              Dirección de Relaciones Internacionales adscrita a la Vicerrectoría de Investigaciones
						</div>
						</div>
					</div>
					<div class="panel panel-default text-center" style="border-color: white;">
						<div class="panel-heading" style="background-color:rgb(232,28,37)">
						<h4 class="panel-title" style="color: white; font-weight: bold;font-size: 18px;">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
								¿A quienes va dirigido?</a>

						</h4>

						</div>
						<div id="collapse3" class="panel-collapse collapse">
						<div class="panel-body">
                Profesores, investigadores y estudiantes de la Universidad del Valle, y consulta pública general en determinados campos del sistema.
						</div>
						</div>
					</div>
					<div class="panel panel-default" style="border-color: rgb(232,28,37);">
						<div class="panel-heading text-center" style="background-color:white;">
						<h4 class="panel-title" style="color: rgb(232,28,37); font-weight: bold;font-size: 18px;">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
								¿Para que Sirve?</a>

						</h4>

						</div>
						<div id="collapse4" class="panel-collapse collapse">
						<div class="panel-body">
               <ul>
                 <li> El sistema facilita el seguimiento y control de las actividades de cooperación y movilidad internacional.</li><br>
                 <li> La localización de oportunidades de cooperación internacional por países, tipo de convenio, temas de cooperación, programas académicos y facultades de univalle.</li><br>
                 <li> Consulta de los contenidos de los convenios activos celebrados entre la Universidad del Valle e instituciones internacionales</li><br>
                 <li> Recopila la información necesaria para el establecimiento de nuevos convenios, presentación a convocatorias internas para la internacionalización y solicitud de movilidades internacionales.</li><br>
                 <li> Brinda información estadística.</li>
               </ul>

						</div>
						</div>
					</div>
		</div>

	 </div>


		<div class="col-md-7  text-center" >

				<br>
				<hr class="barraHorizontal2">
				<p class="subtitulos-seccion">Convenios internacionales de <br> La Universidad Del Valle</p>
				<hr class="barraHorizontal2">

			<div style="padding-top: 30px;"><a (click)="enrutar()" class="btn btn-default links">Consultar Convenios</a></div>
      <div style="padding-top: 30px;"><a (click)="enrutar2()" class="btn btn-default links">Convocatorias CIAM</a></div>

			</div>

	 <div class="container" style="background-color:white;padding-bottom: 50px; width: 100%;height: 100%;">

	  </div>
</div>
	<footer class="container-fluid text-center">
		<!-- FOOTER 1 -->
		<div class="row footer1">
	        <div class="row" style="color:white;">
            <div class="col-md-2 col-md-offset-1" style="text-align: center;">
              <div class="footer-logo">
                <img class="responsive" style="width:70%; height:70%; max-width: 100px; max-height: 300px;" src="../../../../assets/images/logo-footer.png">
              </div>
            </div>
            <div class="col-md-3">
                <h2 style="color:white; font-size:16px; text-align:center;"><strong>Información Contacto</strong></h2>
                <ul style="list-style:none; text-align:center; padding:0px">
                  <li>Vicerrectoria de investigaciones</li>
                  <li>convenios@correounivalle.edu.co</li>
                  <li>Ciudad Universitaria Melendez</li>
                  <li>Teléfono +57 2 3212100 </li>
                  <li>Universidad del Valle</li>
                  <li>Cali - Colombia</li>

                </ul>
            </div>

	            <!-- /.col-md-4 -->
	            <div class="col-md-3">
	                <h2 style="color:white; font-size:16px;"><strong>Dirección</strong></h2>
	                <ul style="list-style:none; text-align:center; padding:0px">
	                	<li>Calle 13 # 100-00</li>
	                	<li>Sede San Fernando</li>
	                	<li>Calle 4B N° 36-00</li>
	                </ul>
                  <h2 style="color:white; font-size:16px;"><strong>PBX</strong></h2>
	                <ul style="list-style:none; padding:0px">
	                	<li>+57 2 3212100</li>
	                	<li>A.A.25360</li>
	                </ul>
	            </div>

	            <div class="col-md-2 text-center">
	                <h2 style="color:white; font-size:16px; text-align:center;"><strong>Redes Sociales</strong></h2>
	                <div class="row">
	                	<div class="col-md-4 col-xs-4">
	                		<a href="https://www.facebook.com/universidaddelvalle"><img src="../../../../assets/images/facebook.png"></a>
	                	</div>
	                	<div class="col-md-4 col-xs-4">
	                		<a href="https://www.youtube.com/user/universidaddelvalle1"><img src="../../../../assets/images/youtube.png"></a>
	                	</div>
	                	<div class="col-md-4 col-xs-4">
	                		<a href="https://twitter.com/univallecol"><img src="../../../../assets/images/twitter.png"></a>
	                	</div>
	                </div>
	            </div>
	        </div>
		</div>

		<!-- FOOTER 3 -->
		<div class="row footer3">
			<div class="col-md-12" style="text-align:center; color:white;">
				<p>Copyright 2015 <span><a style="color:#FBB040;" href="http://www.univalle.edu.co/">Universidad del Valle</a> - <a style="color:#FBB040;"href="http://www.univalle.edu.co/index.php/la-universidad/horarios-de-atencion">Horarios de atención</a></span> / Última Actualización: 16-03-2017</p>
			</div>
		</div>
	</footer>

	  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 -->


